<으뜸 파이썬 연습문제>

4.1 ~ 4.28

In [1]:
#4.1

def my_greet() :
    print('환영합니다.')

my_greet()
my_greet()

환영합니다.
환영합니다.

In [3]:
#4.2

def square(n) :
    return n**2

print('3의 제곱은 :', square(3))
print('4의 제곱은 :', square(4))

3의 제곱은 : 9
4의 제곱은 : 16

In [4]:
#4.3

def max2(m,n) :
    if m >= n :
        return m
    else :
        return n

def min2(m,n) :
    if m <= n :
        return m
    else :
        return n

print('100과 200중 큰 수는 :',max2(100,200))
print('100과 200중 작은 수는 :', min2(100,200))

100과 200중 큰 수는 : 200
100과 200중 작은 수는 : 100

In [5]:
#4.4

def mile2km(m) :
    for i in range(1,m+1,1) :
        print('{} 마일 = {} 킬로미터'.format(i,i*1.61))

mile2km(5)

1 마일 = 1.61 킬로미터
2 마일 = 3.22 킬로미터
3 마일 = 4.83 킬로미터
4 마일 = 6.44 킬로미터
5 마일 = 8.05 킬로미터

In [7]:
#4.5

def inch2cm(inch) :
    for i in range(1,inch+1,1) :
        print('{} 인치 = {} 센티미터'.format(i,i*2.54))
    
inch2cm(5)

1 인치 = 2.54 센티미터
2 인치 = 5.08 센티미터
3 인치 = 7.62 센티미터
4 인치 = 10.16 센티미터
5 인치 = 12.7 센티미터

In [8]:
#4.6

def cel2fah(cel) :
    for i in range(10,cel+1, 10) :
        print('섭씨 {} 도 = 화씨 {} 도'.format(i,(9/5)*i+32))

cel2fah(50)

섭씨 10 도 = 화씨 50.0 도
섭씨 20 도 = 화씨 68.0 도
섭씨 30 도 = 화씨 86.0 도
섭씨 40 도 = 화씨 104.0 도
섭씨 50 도 = 화씨 122.0 도

In [10]:
#4.7

def mean3(a,b,c) :
    return (a+b+c)/3

def max3(a,b,c) :
    return max(a,b,c,)

def min3(a,b,c) :
    return min(a,b,c) 

n = [int(x) for x in input('세 수를 입력하시오 : ').split()]
n.sort()    # 리스트를 오름차순으로 정렬
a,b,c = tuple(n)    

print('{}, {}, {}의 평균값은 {}'.format(a,b,c,mean3(a,b,c)))
print('{}, {}, {}의 최댓값은 {}'.format(a,b,c,max3(a,b,c)))
print('{}, {}, {}의 최솟값은 {}'.format(a,b,c,min3(a,b,c)))

세 수를 입력하시오 : 10 30 20
10, 20, 30의 평균값은 20.0
10, 20, 30의 최댓값은 30
10, 20, 30의 최솟값은 10

In [14]:
#4.8

def mean6(a,b,c,d,e,f) :
    return (mean3(a,b,c)+mean3(d,e,f))*(1/2)

def max6(a,b,c,d,e,f) :
    return max(max3(a,b,c),max3(d,e,f))

def min6(a,b,c,d,e,f) :
    return min(min3(a,b,c),min3(d,e,f))

a,b,c,d,e,f = map(int, input('여섯 개의 수를 입력하시오 : ').split())
print('평균값은', mean6(a,b,c,d,e,f))
print('최댓값은', max6(a,b,c,d,e,f))
print('최솟값은', min6(a,b,c,d,e,f))

여섯 개의 수를 입력하시오 : 100 20 30 45 260 370
평균값은 137.5
최댓값은 370
최솟값은 20

In [51]:
#4.9

def mean_of_n(nums) :
    sum1 = 0
    for n in nums :
        sum1 += n
    return sum1/len(nums)

def max_of_n(nums) :
    return max(nums)

def min_of_n(nums) :
    return min(nums)

nums = [int(x) for x in input('정수를 여러 개 입력하시오 : ').split()]

print('평균값은 {:.1f}'.format(mean_of_n(nums)))
print('최댓값은', max_of_n(nums))
print('최솟값은', min_of_n(nums))

정수를 여러 개 입력하시오 : 3 45 32 5 7 8 4 44 5 90 17
평균값은 23.6
최댓값은 90
최솟값은 3

In [54]:
#4.10

x1 = int(input('x1 좌표를 입력하시오 : '))
y1 = int(input('y1 좌표를 입력하시오 : '))
x2 = int(input('x2 좌표를 입력하시오 : '))
y2 = int(input('y2 좌표를 입력하시오 : '))

def distance(x1,y1,x2,y2) :
    d = ((x1-x2)**2+(y1-y2)**2)**0.5
    return d
print('두 점의 거리 :',distance(x1,y1,x2,y2))

x1 좌표를 입력하시오 : 0
y1 좌표를 입력하시오 : 0
x2 좌표를 입력하시오 : 3
y2 좌표를 입력하시오 : 4
두 점의 거리 : 5.0

In [55]:
#4.11

x1 = int(input('x1 좌표를 입력하시오 : '))
y1 = int(input('y1 좌표를 입력하시오 : '))
x2 = int(input('x2 좌표를 입력하시오 : '))
y2 = int(input('y2 좌표를 입력하시오 : '))

def area(x1,y1,x2,y2) :
    width = x2 - x1
    height = y2 - y1
    area = (0.5)*width*height
    return area

print('직각삼각형의 면적은 :',area(x1,y1,x2,y2))

x1 좌표를 입력하시오 : 0
y1 좌표를 입력하시오 : 0
x2 좌표를 입력하시오 : 3
y2 좌표를 입력하시오 : 4
직각삼각형의 면적은 : 6.0

In [56]:
#4.12

def cal_area(width, height) :
    return width*height*0.5

width = int(input('밑변을 입력하시오 : '))
height = int(input('높이를 입력하시오 : '))
print('삼각형의 면적 :',cal_area(width,height))

밑변을 입력하시오 : 20
높이를 입력하시오 : 15
삼각형의 면적 : 150.0

In [72]:
#4.13

def cube(s) :     # 정육면체의 부피를 구하는 함수
    print('모서리의 길이가 {}인 정육면체의 부피 : {}'.format(s,s**3))
  
def rec(w,h,l) :        # 직육면체의 부피를 구하는 함수
    print('가로, 세로, 길이가 각각 {}, {}, {}인 직육면체의 부피 : {}'.format(w,h,l,l*w*h))

def cone(r,h) :         # 원뿔의 부피를 구하는 함수
    print('반지름과 높이가 각각 {}, {}인 원뿔의 부피 : {}'.format(r,h,(1/3)*3.14*(r**2)*h))

def sphere(r) :         # 구의 부피를 구하는 함수
    print('반지름이 {}인 구의 부피 : {}'.format(r, (4/3)*3.14*r**3))

def cylinder(r,h) :     # 원기둥의 부피를 구하는 함수
    print('반지름과 높이가 각각 {}, {}인 원기둥의 부피 : {}'.format(r,h,3.14*(r**2)*h))

In [73]:
#(1)
cube(12)

#(2)
cube(20)

#(3)
rec(3,5,6)

#(4)
cone(20,10)

#(5)
sphere(15)

#(6)
cylinder(20,10)

모서리의 길이가 12인 정육면체의 부피 : 1728
모서리의 길이가 20인 정육면체의 부피 : 8000
가로, 세로, 길이가 각각 3, 5, 6인 직육면체의 부피 : 90
반지름과 높이가 각각 20, 10인 원뿔의 부피 : 4186.666666666666
반지름이 15인 구의 부피 : 14130.0
반지름과 높이가 각각 20, 10인 원기둥의 부피 : 12560.0

In [76]:
#4.14

def sort3(num1,num2,num3) :
    a=[num1,num2,num3]
    a.sort()
    print('정렬된 리스트는 다음과 같습니다. :', a[0], a[1], a[2])

print('세 수를 입력하세요 :')
num1 = int(input())
num2 = int(input())
num3 = int(input()) 

sort3(num1,num2,num3)

세 수를 입력하세요 :
3
2
5
정렬된 리스트는 다음과 같습니다. : 2 3 5

In [81]:
#4.15

def my_sort(*nums) :
    a = list(nums)
    a.sort()
    print(a)

my_sort(45, 3, 4, 56, 5)
print()
my_sort(9,8,7,6,5,4,3)

[3, 4, 5, 45, 56]

[3, 4, 5, 6, 7, 8, 9]

In [85]:
#4.16

n = [int(x) for x in input('쉼표로 구분된 정수를 여러 개 입력하시오 : ').split(',')]   # 임의의 개수만큼 정수를 리스트에 입력받음
print('입력된 정수의 리스트 :',n)
n.sort()

print('정렬된 정수의 리스트 :',end=' ')
for i in n :
    print(i,end=' ')

쉼표로 구분된 정수를 여러 개 입력하시오 : 56,67,89,34,24,300,99
입력된 정수의 리스트 : [56, 67, 89, 34, 24, 300, 99]
정렬된 정수의 리스트 : 24 34 56 67 89 99 300

In [88]:
#4.17

def sum_range(n1,n2) :
    sum1 = 0
    for i in range(n1,n2+1,1) :
        sum1 += i
    print('{}에서 {:3}까지의 정수의 합 : {:4}'.format(n1,n2,sum1))

sum_range(10,20)
sum_range(40,100)

10에서  20까지의 정수의 합 :  165
40에서 100까지의 정수의 합 : 4270

In [100]:
#4.18

def lcm(a,b) :       # a에서 b까지 정수들의 최소공배수를 구하는 함수
    lists=[]
    for i in range(a,b+1,1) :
        lists.append(i)
    
    n=1
    while 1 :
        check = [] 
        for j in lists :
           if n%j !=0 :         # n을 a에서 b까지의 정수들로 나누었을 때 나머지가 0이 아니면 빈 check 리스트에 1을 추가시킴
               check.append(1)
        
        if len(check) == 0 :    # n을 a에서 b까지의 정수들로 모두 나누어봤을 때 check리스트가 여전히 비어 있으면 n은 a에서 b까지 정수들의 공배수
            print('{}에서 {}까지의 정수들의 최소 공배수는 : {}'.format(a,b,n))
            break
        n += 1                  # check 리스트가 빈 리스트가 아니라면 (n+1)인 경우로 수행을 다시 시작

a = int(input('범위의 시작 정수 : '))
b = int(input('범위의 마지막 정수 : '))
lcm(a,b)

범위의 시작 정수 : 3
범위의 마지막 정수 : 5
3에서 5까지의 정수들의 최소 공배수는 : 60

In [119]:
#4.19

def fibo(n) :
    if n == 0 or n==1 :
        return 1
    
    elif n<0 :
        return

    else :
        return (fibo(n-1) + fibo(n-2))
        

n = int(input('fibo(n)의 n을 입력하세요 : '))
print('fibo({}) = {}'.format(n,fibo(n)))

fibo(n)의 n을 입력하세요 : 4
fibo(4) = 5

In [121]:
#4.20

def fibo(n) :
    if n == 0 or n==1 :
        return 1
    
    elif n<0 :
        return

    else :
        return (fibo(n-1) + fibo(n-2))

for i in range(16) :
    print('fibo({:3}) = {:4}'.format(i,fibo(i)))

fibo(  0) =    1
fibo(  1) =    1
fibo(  2) =    2
fibo(  3) =    3
fibo(  4) =    5
fibo(  5) =    8
fibo(  6) =   13
fibo(  7) =   21
fibo(  8) =   34
fibo(  9) =   55
fibo( 10) =   89
fibo( 11) =  144
fibo( 12) =  233
fibo( 13) =  377
fibo( 14) =  610
fibo( 15) =  987

In [163]:
#4.21

def rnumber(n) :
    year = n[0:2]      # 년도 정의

    if n[2] == '0' :   # 월 정의
        month = n[3]
    else :
        month = n[2:4]

    if n[4] == '0' :   # 일 정의
        day = n[5]
    else :
        day = n[4:6]
    
    if n[0] == ('5' or '6' or '7' or '8' or '9') :
        print('19{}년 {}월 {}일'.format(year,month,day))
    else :
        print('20{}년 {}월 {}일'.format(year,month,day))

n = input('주민등록번호 첫 6숫자 형식 입력 : ')
rnumber(n)

주민등록번호 첫 6숫자 형식 입력 : 011123
2001년 11월 23일

In [154]:
#4.22

def rnumber_front(y,m,d) :
    ylist = list(str(y))
    y_f = ylist[0]+ylist[1]      #년도 정의

    birth = y_f+str(m)+str(d)    #생년월일 정의
    return birth

import datetime as d
date = d.datetime.now()
y,m,d = date.year, date.month, date.day

print('현재 시간은 {}년 {}월 {}일입니다.'.format(y,m,d))
print('지금 태어난 아이의 주민등록번호 앞자리는 :',rnumber_front(y,m,d))

현재 시간은 2020년 11월 4일입니다.
지금 태어난 아이의 주민등록번호 앞자리는 : 20114

In [161]:
#4.23

def area_and_circumference(r) :
    import math as m
    area = m.pi*r**2
    circum = 2*m.pi*r
    print('넓이 : {:7.3f}, 둘레 : {:7.3f}'.format(area,circum))

while 1 :
    r = int(input('반지름을 입력하시오 : '))
    if r>0 :
        area_and_circumference(r)
    if r<=0 :
        print('프로그램을 종료합니다.')
        break

반지름을 입력하시오 : 6
넓이 : 113.097, 둘레 :  37.699
반지름을 입력하시오 : 22
넓이 : 1520.531, 둘레 : 138.230
반지름을 입력하시오 : 4
넓이 :  50.265, 둘레 :  25.133
반지름을 입력하시오 : -1
프로그램을 종료합니다.

In [222]:
#4.24

writing = input('여러 단어로 이루어진 글을 입력하세요 : ')

w1 = writing.replace(':',' ')    # ':'을 공백으로 변환
w2 = w1.replace('.', ' ')        # '.'을 공백으로 변환
w3 = w2.replace(',',' ')         # ','를 공백으로 변환. 최종적으로 w3는 ':', '.', ','가 모두 공백으로 변환된 상태

w = w3.split()
w.sort()
print('정렬 결과 :',w)

여러 단어로 이루어진 글을 입력하세요 : 임의의 문장을 입력:출력, 이것은 테스트 문장. 가:가나:나:나나:다람쥐 : 마린보이
정렬 결과 : ['가', '가나', '나', '나나', '다람쥐', '마린보이', '문장', '문장을', '이것은', '임의의', '입력', '출력', '테스트']

In [259]:
#4.25

def change(n) :
    n1 = n.replace('-','')    # 하이픈 제거
    n2 = n1.replace(' ','')   # 공백 제거
    C = n2.upper()            # 대문자로 변경
    return C


def count(C) :                # 문자 'N'이 나타나는 횟수
    number_N = C.count('N')
    print('{} : {}개의 N이 나타남'.format(C,number_N)) 

s1 = 'Kang Young Min'
s2 = ' Kang Young-Min'
s3 = 'Park Dong Min'
s4 = ' Park Dong-Yun'

print('{}(은)는 {}(으)로 수정됨'.format(s1, change(s1)))
print('{}(은)는 {}(으)로 수정됨'.format(s2, change(s2)))
print('{}(은)는 {}(으)로 수정됨'.format(s3, change(s3)))
print('{}(은)는 {}(으)로 수정됨'.format(s4, change(s4)))

count(change(s1))
count(change(s2))
count(change(s3))
count(change(s4))

Kang Young Min(은)는 KANGYOUNGMIN(으)로 수정됨
 Kang Young-Min(은)는 KANGYOUNGMIN(으)로 수정됨
Park Dong Min(은)는 PARKDONGMIN(으)로 수정됨
 Park Dong-Yun(은)는 PARKDONGYUN(으)로 수정됨
KANGYOUNGMIN : 3개의 N이 나타남
KANGYOUNGMIN : 3개의 N이 나타남
PARKDONGMIN : 2개의 N이 나타남
PARKDONGYUN : 2개의 N이 나타남

In [262]:
#4.26

given_string = 'Park(Java City), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)'

print('주어진 문자열 :')
print(given_string)
print()

Count = given_string.count('Bython')
modified_string = given_string.replace('Bython','Python')

print('수정된 문자열 :')
print(modified_string)
print('Bythoh 문자열은 모두 %d번 수정했습니다.' %Count)

주어진 문자열 :
Park(Java City), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)

수정된 문자열 :
Park(Java City), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
Bythoh 문자열은 모두 3번 수정했습니다.

In [269]:
#4.27

def unit_fraction(frac) :
    x = 1/frac
    
    k = round(x)   # x를 반올림 함
    print('가장 가까운 단위 분수는 1/{}이며, 이 값은 {}입니다.'.format(k,1/k))

frac = float(input('1보다 작고 0보다 큰 소수를 입력하세요 : '))
unit_fraction(frac)

1보다 작고 0보다 큰 소수를 입력하세요 : 0.0732
가장 가까운 단위 분수는 1/14이며, 이 값은 0.07142857142857142입니다.

In [271]:
#4.28

def factorial(k) :                    # (1)
    if k <= 1 :
        return 1
    else :
        return k * factorial(k-1) 

def euler(n) :                        # (2)
    sum1=0
    for i in range(n+1) :
        sum1 += 1/factorial(i)
    return sum1

print('euler( 5) = {:.5f}'.format(euler(5)))      # (3)
print('euler(20) = {:.5f}'.format(euler(20)))

euler( 5) = 2.71667
euler(20) = 2.71828