<4장 함수와 입출력>

#함수의 역할

print_star_func.py

In [ ]:
def print_star() :
    print('*************************')

print_star()

*************************

print_star_4.py

In [ ]:
def print_star() :
    print('**************************')

print_star()
print_star()
print_star()
print_star()

**************************
**************************
**************************
**************************

LAB 4-1 : 함수의 정의와 호출

In [ ]:
#1.
def print_star() :
    print('*************************')

In [ ]:
#2.
print_star()
print_star()
print_star()
print_star()
print_star()
print_star()

*************************
*************************
*************************
*************************
*************************
*************************

print_star3.py

In [ ]:
def print_star3() :
    print('************************')
    print('************************')
    print('************************')

print_star3()
print_star3()
print_star3()

************************
************************
************************
************************
************************
************************
************************
************************
************************

LAB 4-2 : 함수 정의와 호출

In [ ]:
def print_star5() :
    print('************************')
    print('************************')
    print('************************')
    print('************************')
    print('************************')

print_star5()
print_star5()

************************
************************
************************
************************
************************
************************
************************
************************
************************
************************

print_star_plus.py

In [ ]:
def print_star() :
    print('*************************')

def print_plus() :
    print('+++++++++++++++++++++++++')

print_star()
print_plus()
print_star()
print_plus()

*************************
+++++++++++++++++++++++++
*************************
+++++++++++++++++++++++++

LAB 4-3 : 함수 정의와 호출

In [ ]:
#1.
def print_hash() :
    print('#########################')

In [ ]:
#2.
print_hash()
print_star()
print_plus()
print_plus()
print_star()
print_hash()

#########################
*************************
+++++++++++++++++++++++++
+++++++++++++++++++++++++
*************************
#########################

#함수와 매개변수

print_star_param.py

In [ ]:
def print_star(n) :
    for _ in range(n) :
        print('*************************')

print_star(4)

*************************
*************************
*************************
*************************

LAB 4-4 : 다양한 별표와 패턴 출력

In [ ]:
#1.
def print_star(n) :
    for _ in range(n) :
        print('*************************')

print_star(10)

*************************
*************************
*************************
*************************
*************************
*************************
*************************
*************************
*************************
*************************

In [ ]:
#2.
def print_hash(n) :
    for _ in range(n) :
        print('#########################')

print_hash(10)

#########################
#########################
#########################
#########################
#########################
#########################
#########################
#########################
#########################
#########################

In [ ]:
#3.
print_hash(6)

#########################
#########################
#########################
#########################
#########################
#########################

In [ ]:
#4.
def print_hash(n) :
    for i in range(n) :
        print(i,'#########################')

print_hash(6)

0 #########################
1 #########################
2 #########################
3 #########################
4 #########################
5 #########################

print_hello_n_times.py

In [ ]:
def print_hello(n) :
    print('Hello ' * n)

print('Hello를 두 번 출력합니다.')
print_hello(2)
print('Hello를 세 번 출력합니다.')
print_hello(3)
print('Hello를 네 번 출력합니다.')
print_hello(4)

Hello를 두 번 출력합니다.
Hello Hello
Hello를 세 번 출력합니다.
Hello Hello Hello
Hello를 네 번 출력합니다.
Hello Hello Hello Hello

sum_func.py

In [ ]:
def print_sum(a,b) :
    result = a + b
    print(a, '과', b, '의 합은', result, '입니다.')

print_sum(10,20)
print_sum(100,200)

10 과 20 의 합은 30 입니다.
100 과 200 의 합은 300 입니다.

LAB 4-5 : 두 수 연산을 수행하는 함수

In [ ]:
#1.
def print_sub(a,b) :
    print('{}와 {}의 차는 {}입니다.'.format(a,b,a-b))

print_sub(10,20)

10와 20의 차는 -10입니다.

In [ ]:
#2.
def print_mult(a,b) :
    print('{}와 {}의 곱은 {}입니다.'.format(a,b,a*b))

print_mult(10,20)

10와 20의 곱은 200입니다.

root_ex1.py

In [ ]:
a=1
b=2
c=-8

# (a * x^2) + (b * x) + c = 0
r1 = (-b + (b**2 - 4*a*c)**0.5)/(2*a)
r2 = (-b - (b**2 - 4*a*c)**0.5)/(2*a)

print('해는',r1,'또는',r2)

해는 2.0 또는 -4.0

root_ex3.py

In [ ]:
def print_root(a,b,c) :
    r1 = (-b + (b**2 - 4*a*c)**0.5)/(2*a)
    r2 = (-b - (b**2 - 4*a*c)**0.5)/(2*a)
    print('해는', r1, '또는', r2)

print_root(1,2,-8)
print_root(2,-6,-8)

해는 2.0 또는 -4.0
해는 4.0 또는 -1.0

LAB 4-6 : 함수의 사용

In [ ]:
def print_root(a,b,c) :
    r1 = (-b + (b**2 - 4*a*c)**0.5)/(2*a)
    r2 = (-b - (b**2 - 4*a*c)**0.5)/(2*a)
    print('해는', r1, '또는', r2)
# 1 - (1).
print_root(1,4,-21)

# 1 - (2).
print_root(1,-6,8)

해는 3.0 또는 -7.0
해는 4.0 또는 2.0

In [ ]:
#2. 
def print_area(width, height) :
    print('밑변 {}, 높이 {}인 삼각형의 면적은 : {}'.format(width,height,width*height*0.5))

print_area(10,20)

밑변 10, 높이 20인 삼각형의 면적은 : 100.0

#반환문 return

sum_with_return1.py

In [ ]:
def get_sum(a,b) :
    result = a+b
    return result

n1 = get_sum(10,20)
print('10과 20의 합 =',n1)

n2 = get_sum(100,200)
print('100과 200의 합 =',n2)

10과 20의 합 = 30
100과 200의 합 = 300

sum_with_return2.py

In [ ]:
def get_sum(a,b) :
    return a+b
    
result = get_sum(100,200)
print('두 수의 합',result)

두 수의 합 300

root_func.py

In [ ]:
def get_root(a,b,c) :
    r1 = (-b + (b**2 - 4*a*c)**0.5) / (2*a)
    r2 = (-b - (b**2 - 4*a*c)**0.5) / (2*a)
    return r1, r2

result1, result2 = get_root(1,2,-8)
print('해는',result1,'또는',result2)

해는 2.0 또는 -4.0

LAB 4-7 : 원의 면적과 둘레를 반환하는 함수

In [ ]:
#1.
def circle_area_circum(radius) :
    import math as m
    return radius**2*m.pi, 2*m.pi*radius

radius = 10
area, circum = circle_area_circum(radius)
print('반지름 {}인 원의 면적은 {:.0f}, 원의 둘레는 {:.1f}'.format(radius, area, circum))

반지름 10인 원의 면적은 314, 원의 둘레는 62.8

LAB 4-8 : 다수의 결과를 반환하는 함수 만들기

In [ ]:
#1.
def multiples(n,m) :
    a = []
    for i in range(1,m+1,1) :
        ri = n*i
        a.append(ri)
    return tuple(a)

r1,r2,r3,r4 = multiples(3,4) 
print(r1,r2,r3,r4)
r1,r2,r3,r4,r5 = multiples(2,5)
print(r1,r2,r3,r4,r5)

3 6 9 12
2 4 6 8 10

# 전역 변수

sum_func_global1.py

In [ ]:
def print_sum() :
    result = a+b
    print('print_sum() 내부 :',a,'과',b,'의 합은',result,'입니다.')

a = 10
b = 20
print_sum()
result = a+b
print('print_sum() 외부 :', a,'과',b,'의 합은', result,'입니다.')

print_sum() 내부 : 10 과 20 의 합은 30 입니다.
print_sum() 외부 : 10 과 20 의 합은 30 입니다.

sum_func_global2.py

In [ ]:
def print_sum() :
    a = 100
    b = 200
    result = a+b
    print('print_sum() 내부 :',a,'과',b,'의 합은', result, '입니다.')

a=10
b=20
print_sum()

print_sum() 내부 : 100 과 200 의 합은 300 입니다.

sum_func_global3.py

In [ ]:
def print_sum() :
    a = 100
    b = 200
    result = a+b
    print('print_sum() 내부 :',a,'과',b,'의 합은',result,'입니다.')

a=10
b=20
print_sum()
result = a+b
print('print_sum() 외부 :', a,'과',b,'의 합은', result,'입니다.')

print_sum() 내부 : 100 과 200 의 합은 300 입니다.
print_sum() 외부 : 10 과 20 의 합은 30 입니다.

sum_func_global4.py

In [ ]:
def print_sum() :
    global a,b
    a = 100
    b = 200
    result = a+b
    print('print_sum() 내부 :',a,'과',b,'의 합은',result,'입니다.')

a=10
b=20
print_sum()
result = a+b
print('print_sum() 외부 :', a,'과',b,'의 합은',result,'입니다.')

print_sum() 내부 : 100 과 200 의 합은 300 입니다.
print_sum() 외부 : 100 과 200 의 합은 300 입니다.

#함수의 인자 전달 방식

print_star_param_error.py

In [ ]:
def print_star(n) :       # 인자를 필요로 함
    for _ in range(n) :
        print('*************************')

print_star()              # 인자가 없으므로 에러 발생

TypeError: ignored

print_default_param.py

In [ ]:
def print_star(n=1) :    # 매개변수 n의 디폴트 값을 설정해줌
    for i in range(n) :
        print('****************************')

print_star()   # 인자가 없더라도 에러 없이 수행됨 (디폴트 값으로 출력)

****************************

default_param1.py

In [ ]:
def div(a, b=2) :
    return a/b

print('div(4) =',div(4))
print('div(6,3) =',div(6,3))

div(4) = 2.0
div(6,3) = 2.0

default_param2.py

In [ ]:
def div(a=1,b=2) :
    return a/b

print('div() =', div())
print('div(4) =', div(4))
print('div(6,3) =', div(6,3))

div() = 0.5
div(4) = 2.0
div(6,3) = 2.0

root_func.py

In [ ]:
def get_root(a,b,c) :
    r1 = (-b + (b**2 - 4*a*c)**0.5) / (2*a)
    r2 = (-b - (b**2 - 4*a*c)**0.5) / (2*a)
    return r1, r2

result1, result2 = get_root(1,2,-8)
print('해는', result1, '또는', result2)

해는 2.0 또는 -4.0

result1, result2 = get_root(1,-8,b=2)  >> TypeError, b에 이미 할당됐는데 또 할당했기 떄문 


def func(a,b,c) :
    print(a,b,c)

func(1,c=2,b=3) >> 가능  
1 3 2

func(1,b=2,3) >> SyntaxError, 위치 인자 뒤에 키워드 인자가 와야함

areas_of_shapes.py

In [ ]:
def func(shape, width = 1, height = 1, radius = 1) :
    if shape == 0 :   # shape 값이 0이면 사각형의 면적을 반환
        return width * height
    if shape == 1 :   # shape 값이 1이면 원의 면적을 반환
        return 3.14 * radius ** 2

print('rect area =', func(0, width=10, height=2))
print('circle area =', func(1, radius=5))
    
print('rect area =', func(0, radius=5))

rect area = 20
circle area = 78.5
rect area = 1

LAB 4-9 : 키워드 인자

In [ ]:
# 1 - (a).
def print_name(honorifics, first_name, last_name) :
    '''키워드 인자를 이용한 출력용 프로그램'''
    print(honorifics, first_name, last_name)

print_name(first_name='Gildong', last_name='Hong', honorifics='Dr.')

# 1 - (b).
print_name('Gildong','Hong','Dr.')

Dr. Gildong Hong
Gildong Hong Dr.

arg_greet1.py

In [ ]:
def greet1(name) :
    print('안녕하세요', name, '씨')
greet1('홍길동')

안녕하세요 홍길동 씨

are_greet2.py

In [ ]:
def greet2(name1, name2) :
    print('안녕하세요',name1,'씨')
    print('안녕하세요', name2, '씨')

greet2('홍길동','홍길순')

안녕하세요 홍길동 씨
안녕하세요 홍길순 씨

arg_greet.py

In [ ]:
def greet(*names) :
    for name in names :
        print('안녕하세요', name, '씨')

greet('홍길동', '양만춘', '이순신')
greet('James', 'Thomas')

안녕하세요 홍길동 씨
안녕하세요 양만춘 씨
안녕하세요 이순신 씨
안녕하세요 James 씨
안녕하세요 Thomas 씨

arg_foo.py

In [ ]:
def foo(*args) :
    print('인자의 개수:', len(args))
    print('인자들 :', args)

foo(10,20,30)

인자의 개수: 3
인자들 : (10, 20, 30)

arg_sum_nums.py

In [ ]:
def sum_nums(*numbers) :
    result = 0
    for n in numbers :
        result += n
    return result

print(sum_nums(10,20,30))
print(sum_nums(10,20,30,40,50))

60
150

LAB 4-10 : 가변 인자의 활용

In [ ]:
#1.
def sum_nums(*numbers) :
    print('{}개의 인자 {}'.format(len(numbers),numbers))
    sum1 = 0
    ave1 = 0
    for n in numbers :
        sum1 += n
    ave1 = sum1/len(numbers)
    print('합계 : {}, 평균 : {}'.format(sum1, ave1))
    print()
    
sum_nums(10,20,30)
sum_nums(10,20,30,40,50)

3개의 인자 (10, 20, 30)
합계 : 60, 평균 : 20.0

5개의 인자 (10, 20, 30, 40, 50)
합계 : 150, 평균 : 30.0

In [ ]:
#2.
def min_nums(*numbers) :
    lists=list(numbers)
    lists.sort()   #리스트 정렬
    print('최솟값은',lists[0])

min_nums(20,40,50,10)

최솟값은 10

#재귀함수

factorial_recursion.py

In [ ]:
def factorial(n) :
    if n<=1 :
        return 1
    else :
        return n * factorial(n-1)


n=5
print('{}! = {}'.format(n, factorial(n)))

5! = 120

fibonacci_recursion.py

In [ ]:
def fibonacci(n) :
    if n<=1 :
        return n
    else :
        return (fibonacci(n-1) + fibonacci(n-2))
    
nterms = int(input('몇 개의 피보나치수를 원하세요? '))

if nterms <= 0 :
    print('오류 : 양수를 입력하세요.')
else :
    print('Fibonacci 수열 : ', end='')
    for i in range(nterms) :
        print(fibonacci(i), end=' ')

몇 개의 피보나치수를 원하세요? 10
Fibonacci 수열 : 0 1 1 2 3 5 8 13 21 34

#입력함수와 출력함수

input_name1.py

In [103]:
print('Enter your name : ')
name = input()
print('Hello', name, '!')

Enter your name :
Hong GilDong
Hello Hong GilDong !

input_name2.py

In [104]:
name = input('Enter your name : ')
print('Hello', name, '!')

Enter your name : Hong GilDong
Hello Hong GilDong !

대화창 실습 : input() 함수와 공백 구분자를 사용한 split() 메소드

In [105]:
s1, s2 = input('문자열 2개를 입력하세요 : ').split()
print(s1)
print(s2)

문자열 2개를 입력하세요 : Hello Python
Hello
Python

대화창 실습 : 공백 구분자를 사용한 input() 실습 + map함수

In [110]:
num1, num2, num3 = input('세 정수를 입력하세요 : ').split()
num1, num2, num3 = int(num1), int(num2), int(num3)
print(num1, num2, num3)

num1, num2, num3 = map(int, input('세 정수를 입력하세요: ').split())
print(num1,num2,num3)

num1, num2, num3 = input('세 정수를 , 로 구분하여 입력하세요 : ').split(',')
num1, num2, num3 = int(num1), int(num2), int(num3)
print(num1, num2, num3)

세 정수를 입력하세요 : 100 200 300
100 200 300
세 정수를 입력하세요: 100 200 300
100 200 300
세 정수를 , 로 구분하여 입력하세요 : 100, 200, 300
100 200 300

대화창 실습 : 여러가지 문자열 메소드

In [112]:
'hello'.upper()

'HELLO'

In [113]:
'Hello'.lower()

'hello'

In [120]:
'Guido Van Rossum'.split()

['Guido', 'Van', 'Rossum']

In [121]:
'Apple,Banana,Orange'.split(',')

['Apple', 'Banana', 'Orange']

In [116]:
'Apple|Banana|Orange|Kiwi'.split('|')

['Apple', 'Banana', 'Orange', 'Kiwi']

대화창 실습 : format() 메소드와 플레이스홀더의 인덱스

In [124]:
print('{} Python!'.format('Hello'))
print('{} Python!'.format('Hi'))
print('{0} Python!'.format('Hello'))

Hello Python!
Hi Python!
Hello Python!

대화창 실습 : format() 메소드와 플레이스홀더

In [126]:
print('I like {} and {}'.format('Python', 'Java'))
print('I like {0} and {1}'.format('Python','Java'))
print('I like {1} and {0}'.format('Python','Java'))

I like Python and Java
I like Python and Java
I like Java and Python

대화창 실습 : format() 메소드와 플레이스홀더의 인덱스 사용법

In [128]:
print('{0}, {0}, {0}! Python'.format('Hello'))
print('{0}, {0}, {0}! Python'.format('Hello','Hi'))
print('{0} {1}, {0} {1}, {0} {1}!'.format('Hello', 'Python'))
print('{0} {1}, {0} {1}, {0} {1}!'.format(100,200))

Hello, Hello, Hello! Python
Hello, Hello, Hello! Python
Hello Python, Hello Python, Hello Python!
100 200, 100 200, 100 200!

대화창 실습 : 플레이스홀더 내의 객체 출력

In [130]:
greet = 'Hello'
print('{} World!'.format(greet))

Hello World!

print_format1.py

In [132]:
name = 'Hong GilDong'
print('My name is {}!'.format(name))

My name is Hong GilDong!

print_format2.py

In [133]:
name = input('당신의 이름을 입력해주세요 : ')
age = input('나이를 입력해주세요 : ')
job = input('직업을 입력해주세요 : ')

print('당신의 이름은 {}, 나이는 {}살, 직업은 {}입니다.'.format(name,age,job))

당신의 이름을 입력해주세요 : 김철수
나이를 입력해주세요 : 21
직업을 입력해주세요 : 학생
당신의 이름은 김철수, 나이는 21살, 직업은 학생입니다.

LAB 4-11 : format() 메소드의 활용

In [134]:
#1-(a).
name = input('당신의 이름을 입력해주세요 : ')
age = input('나이를 입력해주세요 : ')
job = input('직업을 입력해주세요 : ')
place = input('사는 곳을 입력해 주세요 : ')

print('당신의 이름은 {}, 나이는 {}살, 직업은 {}, 사는 곳은 {}입니다.'.format(name,age,job,place))

당신의 이름을 입력해주세요 : 김철수
나이를 입력해주세요 : 21
직업을 입력해주세요 : 학생
사는 곳을 입력해 주세요 : 창원시
당신의 이름은 김철수, 나이는 21살, 직업은 학생, 사는 곳은 창원시입니다.

In [137]:
#1-(b)
name = input('당신의 이름을 입력해주세요 : ')
age = input('나이를 입력해주세요 : ')
job = input('직업을 입력해주세요 : ')
place = input('사는 곳을 입력해 주세요 : ')

print('당신의 이름은',name,',','나이는',age,'살',',','직업은',job,',','사는 곳은',place,'입니다.')

당신의 이름을 입력해주세요 : 김철수
나이를 입력해주세요 : 21
직업을 입력해주세요 : 학생
사는 곳을 입력해 주세요 : 창원시
당신의 이름은 김철수 , 나이는 21 살 , 직업은 학생 , 사는 곳은 창원시 입니다.

#고급 format() 메소드

대화창 실습 : 출력 간의 크기 지정을 통한 정수 포매팅

In [138]:
for i in range(2,15,2) :
    print('{0:3d} {1:4d} {2:5d}'.format(i,i*i,i*i*i))

  2    4     8
  4   16    64
  6   36   216
  8   64   512
 10  100  1000
 12  144  1728
 14  196  2744

대화창 실습 : 소수점 아래 자리수를 조절하는 실수 포매팅

In [140]:
print('소수점 두 자리로 표현한 원주율 = {0:10.2f}'.format(3.1415926))
print('소수점 세 자리로 표현한 원주율 = {0:10.3f}'.format(3.1415926))
print('소수점 네 자리로 표현한 원주율 = {0:10.4f}'.format(3.1415926))

소수점 두 자리로 표현한 원주율 =       3.14
소수점 세 자리로 표현한 원주율 =      3.142
소수점 네 자리로 표현한 원주율 =     3.1416

대화창 실습 : 실수 표현을 위한 포매팅에서 소수점

In [141]:
print('1/3은 {:.3f}'.format(1/3))

1/3은 0.333

대화창 실습 : 1000단위 쉼표 출력방법

In [142]:
print('{:,}'.format(1234567890))

1,234,567,890

대화창 실습 : 플레이스홀더 내에 키-값 형식으로 인자를 전달하는 방법

In [144]:
print('위도 : {0}, 경도 : {1}'.format('35.17N','129.07E'))
print('위도 : {lat}, 경도 : {long}'.format(lat='35.17N',long='129.07E'))

위도 : 35.17N, 경도 : 129.07E
위도 : 35.17N, 경도 : 129.07E

#문자열의 다양한 메소드

대화창 실습 : 문자열의 다양한 메소드

In [145]:
'abc'.upper()

'ABC'

In [146]:
'ABC'.lower()

'abc'

In [147]:
'hobby'.count('h')

1

In [149]:
'hobby'.count('b')

2

In [150]:
'hobby'.find('h')

0

In [151]:
'hobby'.find('b')

2

대화창 실습 : 문자열의 메소드 실습

In [152]:
','.join('ABCD')

'A,B,C,D'

In [153]:
' hello '.rstrip()   #오른쪽 공백 지우기

' hello'

In [154]:
' hello '.lstrip()

'hello '

In [155]:
' hello '.strip()    #공백 지우기

'hello'

In [157]:
s1 = 'Long live the King!'
s1.replace('King','Queen')    #문자열 교환

'Long live the Queen!'

In [159]:
s1.title()     #타이틀 문자열로 변환

'Long Live The King!'

In [160]:
s1.capitalize()   #첫 문자만 대문자로 변환

'Long live the king!'

In [161]:
s2 = 'X:Y:Z'
s2.split(':')   #':'를 구분자로 하여 s2 문자를 리스트로 분리

['X', 'Y', 'Z']

In [163]:
'Hello ' + 'Python!'

'Hello Python!'

LAB 4-12 : 문자열의 여러 메소드 활용

In [165]:
#1.
'_'.join('ABCD')

'A_B_C_D'

In [166]:
#2.
s = 'My favorite thing is monsters.'
s.replace('monsters','cartoons')

'My favorite thing is cartoons.'

#내장함수

대화창 실습 : 대화형 모드를 통한 여러 가지 내장 함수 실습

In [167]:
abs(-100)     # 절대값을 반환하는 함수

100

In [168]:
min(200,100,300,400)   # 최솟값 반환

100

In [169]:
max(200,100,300,400)

400

In [170]:
str1 = 'FOO'
len(str1)

3

In [171]:
eval('100+200+300')    # 문자열을 수치값과 연산자로 변환하여 평가

600

In [172]:
sorted('EABFD')       # 문자열을 정렬

['A', 'B', 'D', 'E', 'F']

In [173]:
list = [200, 100, 300, 400]
sorted(list)

[100, 200, 300, 400]

In [174]:
sorted(list, reverse=True)

[400, 300, 200, 100]

대화창 실습 : 대화형 모드를 통한 id() 함수 실습

In [181]:
a_str = 'Hello Python!'
id(a_str)

140595877953904

In [177]:
n=300
id(n)

140595877991760

대화창 실습 : 여러가지 자료형에 대한 type() 함수의 적용

In [182]:
type(123)

int

In [183]:
type('Hello String!')

str

In [184]:
type(120.3)

float

In [185]:
type([100,200,300])

list

대화창 실습 : 수식을 가진 문자열과 eval() 함수

In [186]:
eval('10+20')

30

In [187]:
eval('(5*20)/2')

50.0

In [188]:
chr(65)     # 유니코드 값 65인 알파벳 A

'A'

In [189]:
ord('A')     # 알파벳 A의 유니코드 값 65

65