#예외 처리와 파일

대화창 실습 : 0으로 나누는 오류

In [ ]:
a, b = input('두 수를 입력하시오 : ').split()
result = int(a)/int(b)

두 수를 입력하시오 : 10 0

ZeroDivisionError: ignored

대화창 실습 : 문자열과 숫자를 덧셈하는 오류

In [ ]:
a, b = input('두 수를 입력하시오 : ').split()
result = int(a)/int(b)

두 수를 입력하시오 : 사백 이백

ValueError: ignored

div_with_try_except.py

In [ ]:
try :
    a, b = input('두 수를 입력하시오 : ').split()
    result = int(a)/int(b)
    print('{}/{} = {}'.format(a,b,result))
except :
    print('수가 정확한지 확인하세요.')

두 수를 입력하시오 : 50 2
50/2 = 25.0

find_error1.py

In [ ]:
try :
    b = 2/0
    a = 1 + 'hundred'

except Exception as e :
    print('error :',e)

error : division by zero

find_error2.py

In [ ]:
try :
    #b = 2/0
    a = 1 + 'hundred'

except Exception as e :
    print('error :',e)

error : unsupported operand type(s) for +: 'int' and 'str'

LAB 8-1 : 다음 코드는 어떤 예외를 발생시키는가?

In [ ]:
#1.
a = [10, 20, 30]
a[3]

IndexError: ignored

In [ ]:
n = int('20%')

ValueError: ignored

In [ ]:
a = 100 + '200'

TypeError: ignored

In [ ]:
#2.
try :
    a = [10, 20, 30]
    a[3]

except Exception as e :
    print('error :',e)

error : list index out of range

find_error3.py

In [ ]:
try :
    b = 2/0
    a = 1 + 'hundred'

except ZeroDivisionError :      # 구체적인 예외 명시
    print('0으로 나누는 오류')
except TypeError :
    print('지원되지 않은 연산자를 사용하는 오류')

0으로 나누는 오류

find_error4.py

In [ ]:
try :
    #b = 2/0
    a = 1 + 'hundred'

except ZeroDivisionError :      # 구체적인 예외 명시
    print('0으로 나누는 오류')
except TypeError :
    print('지원되지 않은 연산자를 사용하는 오류')

지원되지 않은 연산자를 사용하는 오류

find_error5.py

In [ ]:
try :
    #b = 2/0
    a = 1 + 'hundred'

except ZeroDivisionError :      # 구체적인 예외 명시
    print('0으로 나누는 오류')
except TypeError :
    print('지원되지 않은 연산자를 사용하는 오류')
except Exception as e :     # 보편적인 예외처리 기능
    print('error :',e)
    print('나눗셈과 연산자를 다시 확인하세요')

지원되지 않은 연산자를 사용하는 오류

try_except_else_test.py

In [ ]:
try :
    a, b = input('두 수를 입력하시오 : ').split()
    result = int(a)/int(b)
except ZeroDivisionError :
    print('오류 : 0으로 나눔을 시도했습니다.')
except ValueError :
    print('오류 : 입력 값이 정수나 실수가 아닙니다.')
except :
    print('오류 : 10 2와 같이 두 정수를 입력하세요.')
else :
    print('{}/{} = {}'.format(a,b,result))

두 수를 입력하시오 : 10 2
10/2 = 5.0

LAB 8-2 : 다음 코드는 어떤 예외를 발생시키는가?

In [ ]:
#1.
try :
    10 * (30/0)
except ZeroDivisionError :
    print('오류 : 0으로 나눔을 시도했습니다.')

오류 : 0으로 나눔을 시도했습니다.

In [ ]:
try :
    x = int(input('정수 x를 입력하세요 : '))
except ValueError :
    print('오류 : 입력 값이 정수가 아닙니다.')

정수 x를 입력하세요 : 4.5
오류 : 입력 값이 정수가 아닙니다.

In [ ]:
try :
    import sys
    f = open('myfile.txt')
    s = f.readline()
except FileNotFoundError :
    print('오류 : 파일을 찾을 수 없습니다.')

오류 : 파일을 찾을 수 없습니다.

divide_func.py

In [ ]:
def divide(x,y) :
    try :
        result = x/y
    except ZeroDivisionError :
        print('0으로 나누는 오류발생')
    else :
        print('결과 :',result)
    finally :
        print('수행완료')

print('divide(100,2) 함수 호출 :')
divide(100,2)
print('divide(100,0) 함수 호출 :')
divide(100,0)

divide(100,2) 함수 호출 :
결과 : 50.0
수행완료
divide(100,0) 함수 호출 :
0으로 나누는 오류발생
수행완료

LAB 8-3 : 예외의 생성과 처리

In [ ]:
#1.
a = [1,2,3,4,5]
print('a =',a)
n = int(input('a의 요소를 하나 선택하시오 : '))
number = ['첫','두','세','네','다섯']
print('{} 은(는) {} 번째 요소입니다.'.format(n,number[n-1]))

a = [1, 2, 3, 4, 5]
a의 요소를 하나 선택하시오 : 1
1 은(는) 첫 번째 요소입니다.

In [ ]:
#2.
try :
    a = [1,2,3,4,5]
    print('a =',a)
    n = int(input('a의 요소를 하나 선택하시오 : '))
    number = ['첫','두','세','네','다섯']
    print('{} 은(는) {} 번째 요소입니다.'.format(n,number[n-1]))

except ValueError :
    print('오류 : 입력 값이 정수나 실수가 아님')

a = [1, 2, 3, 4, 5]
a의 요소를 하나 선택하시오 : 삼
오류 : 입력 값이 정수나 실수가 아님

대화창 실습 : raise문을 이용하여 예외 발생시키기1

In [ ]:
raise Exception('Exception raised')

Exception: ignored

대화창 실습 : raise문을 이용하여 예외 발생시키기2

In [ ]:
raise Exception('예외 발생!')

Exception: ignored

raise_test.py

In [ ]:
def get_ans(ans) :
    if ans in ['예','아니오'] :
        print('정상적인 입력입니다.')
    else :
        raise ValueError('입력을 확인하세요.')

while True :
    try :
        ans = input('예/아니오 중 하나를 입력하세요 : ')
        get_ans(ans)
        break
    except Exception as e :
        print('error :',e)

예/아니오 중 하나를 입력하세요 : 예-쓰
error : 입력을 확인하세요.
예/아니오 중 하나를 입력하세요 : 노우
error : 입력을 확인하세요.
예/아니오 중 하나를 입력하세요 : 예
정상적인 입력입니다.

#클래스와 객체 지향 프로그래밍

대화창 실습 : animals 리스트 객체와 다양한 메소드

In [5]:
animals = ['lion', 'tiger', 'cat', 'dog']
animals.sort()
animals

['cat', 'dog', 'lion', 'tiger']

In [6]:
animals.append('rabbit')
animals

['cat', 'dog', 'lion', 'tiger', 'rabbit']

In [7]:
animals.reverse()
animals

['rabbit', 'tiger', 'lion', 'dog', 'cat']

대화창 실습 : 리스트 객체의 pop() 메소드와 스트링 객체의 upper() 메소드

In [8]:
s = animals.pop()
s

'cat'

In [9]:
s.upper()

'CAT'

In [11]:
s.find('a')

1

대화창 실습 : type()과 id() 함수

In [12]:
animals = ['lion', 'tiger', 'cat', 'dog']
type(animals)

list

In [13]:
id(animals)

140192252628936

In [14]:
s = 'tiger'
type(s)

str

In [16]:
id(s)

140192393351944

대화창 실습 : 정수형의 type과 id, 연산자와 메소드

In [24]:
n = 200
type(n)

int

In [25]:
id(n)

10920864

In [26]:
n+100

300

In [30]:
n.__add__(100)

300

In [31]:
200+100

300

In [32]:
(200).__add__(100)

300

LAB 9-1 : 객체와 메소드 호출

In [33]:
#1.
(200).__sub__(100)

100

In [34]:
(200).__mul__(100)

20000

In [35]:
(200).__truediv__(100)

2.0

In [36]:
#2.
[10,20,30,40].pop()

40

In [47]:
#3.
# 리스트 객체는 keys()와 get() 메소드를 지원하지 않는다.

In [48]:
#4.
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [49]:
#5.
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

cat_pass.py

In [51]:
class Cat :
    pass
nabi = Cat()
print(nabi)

<__main__.Cat object at 0x7f810d553b38>

cat_class.py

In [53]:
class Cat :
    def meow(self) :
        print('야옹 야옹~~~')

nabi = Cat()
nabi.meow()

야옹 야옹~~~

many_cats.py

In [54]:
class Cat :
    def meow(self) :
        print('야옹 야옹~~~')

nabi = Cat()
nabi.meow()
nero = Cat()
nero.meow()
mimi = Cat()
mimi.meow()

야옹 야옹~~~
야옹 야옹~~~
야옹 야옹~~~

LAB 9-4 : Dog 클래스와 인스턴스 생성

In [55]:
#1.
class Dog :
    def bark(self) :
        print('멍멍~~')
    
my_dog = Dog()
my_dog.bark()

멍멍~~

init_cats.py

In [57]:
class Cat :
    def __init__(self, name, color = '흰색') :
        self.name = name
        self.color = color
    
    def meow(self) :
        print('내 이름은 {}, 색깔은 {}, 야옹 야옹~~'.format(self.name, self.color))

nabi = Cat('나비', '검정색')
nero = Cat('네로', '흰색')
mimi = Cat('미미', '갈색')

nabi.meow()
nero.meow()
mimi.meow()

내 이름은 나비, 색깔은 검정색, 야옹 야옹~~
내 이름은 네로, 색깔은 흰색, 야옹 야옹~~
내 이름은 미미, 색깔은 갈색, 야옹 야옹~~

LAB 9-5 : Dog 클래스와 인스턴스 생성

In [58]:
#1.
class Dog :
    def __init__(self, name) :
        self.name = name
    
    def bark(self) :
        print('멍멍~~')

my_dog = Dog('Jindo')
my_dog.bark()

멍멍~~

str_cats.py

In [65]:
class Cat :
    def __init__(self, name, color) :
        self.name = name
        self.color = color
    
    def __str__(self) :
        return 'Cat(name = '+self.name+', color = ' + self.color+')'
    
nabi = Cat('나비', '검정색')
nero = Cat('네로', '흰색')
print(nabi)
print(nero)

Cat(name = 나비, color = 검정색)
Cat(name = 네로, color = 흰색)

LAB 9-6 : Dog 클래스와 문자열화 메소드

In [76]:
#1.
class Dog :
    def __init__(self, name) :
        self.name = name
    def __str__(self) :
        return 'Dog(name = ' + self.name +')'
    
my_dog = Dog('Jindo')
print('my_dog의 정보 :', my_dog)

my_dog의 정보 : Dog(name = Jindo)

cat_age_change.py

In [66]:
class Cat :
    def __init__(self, name, age) :
        self.name = name
        self.age = age
    
    def __str__(self) :
        return 'Cat(name = '+self.name+', age = ' + str(self.age)+')'
    
nabi = Cat('나비', 3)
print(nabi)
nabi.age = 4
nabi.age = -5
print(nabi)

Cat(name = 나비, age = 3)
Cat(name = 나비, age = -5)

cat_age_with_setter_getter.py

In [77]:
class Cat :
    def __init__(self, name, age) :
        self.__name = name
        self.__age = age
    def __str__(self) :
        return 'Cat(name ='+self.__name +', age ='+str(self.__age)+')'

    def set_age(self, age) :
        if age>0 :
            self.__age = age
    
    def get_age(self) :
        return self.__age

nabi = Cat('나비', 3)
print(nabi)
nabi.set_age(4)
nabi.set_age(-5)
print(nabi)

Cat(name =나비, age =3)
Cat(name =나비, age =4)

is_test.py

In [78]:
list_a = [10,20,30]
list_b = [10,20,30]

if list_a is list_b :       # is는 아이디 값을 비교함. id(list_a) != id(list_b) 이므로 False
    print('list_a is list_b')
else :
    print('list_a is not list_b')

list_a is not list_b

equal_test.py

In [79]:
list_a = [10,20,30]
list_b = [10,20,30]

if list_a == list_b :
    print('list_a == list_b')
else :
    print('list_a != not list_b')

list_a == list_b

equal_string_test.py

In [80]:
a = 'ABC'
b = 'ABC'
if a is b :
    print('a is b')
else :
    print('a is not b')

a is b

LAB 9-7 : 정수 객체의 is 연산

In [81]:
n = 100
m = 100
if n is m :
    print('n is m')
else :
    print('n is not m')

# 이유 : 저장 위치가 같기때문에 n, m이 같은 객체를 참조한다.

n is m

vector2d_error.py

In [82]:
class Vector2D :
    def __init__(self, x, y) :
        self.x = x
        self.y = y
    
v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
v3 = v1 + v2    # Vector2D의 + 연산이 정의되지 않았다. 오류 출력
print('v1 + v2 =',v3)

TypeError: ignored

vector_add.py

In [83]:
class Vector2D :
    def __init__(self, x, y) :
        self.x = x
        self.y = y
    def __str__(self) :
        return "({}, {})".format(self.x, self.y)
    def add(self, other) :
        return Vector2D(self.x + other.x, self.y + other.y)

v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
v3 = v1.add(v2)
print('v1.add(v2) =',v3)

v1.add(v2) = (40, 60)

vector2d_add_sub.py

In [85]:
class Vector2D :
    def __init__(self, x, y) :
        self.x = x
        self.y = y
    def __add__(self, other) :
        return Vector2D(self.x + other.x, self.y + other.y)
    def __sub__(self, other) :
        return Vector2D(self.x - other.x, self.y - other.y)
    def __str__(self) :
        return "({}, {})".format(self.x, self.y)

v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
v3 = v1+v2
print('v1 + v2 =',v3)
v4 = v1-v2
print('v1 - v2 =', v4)

v1 + v2 = (40, 60)
v1 - v2 = (20, 20)

LAB 9-8 : 특수 메소드의 응용

In [87]:
#1.
class Vector2D :
    def __init__(self, x, y) :
        self.x = x
        self.y = y
    def __mul__(self, other) :
        return Vector2D(self.x * other.x, self.y * other.y)
    def __truediv__(self, other) :
        return Vector2D(self.x / other.x, self.y / other.y)
    def __str__(self) :
        return "({}, {})".format(self.x, self.y)

v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
v3 = v1*v2
print('v1 + v2 =',v3)
v4 = v1/v2
print('v1 - v2 =', v4)

v1 + v2 = (300, 800)
v1 - v2 = (3.0, 2.0)

In [91]:
#2.
class Vector2D :
    def __init__(self, x, y) :
        self.x = x
        self.y = y
    def __neg__(self) :
        return Vector2D(-self.x, -self.y)
    def __str__(self) :
        return "({}, {})".format(self.x, self.y)
v1 = Vector2D(10,20)
print('-v1 =',-v1)

-v1 = (-10, -20)

LAB 9-9 : 벡터의 크기 비교하기

In [1]:
#1.
class Vector2D :
    def __init__(self, x, y) :
        self.x = x
        self.y = y
    def __gt__(self, other) :
        return ((self.x)**2 + (self.y)**2) > ((other.x)**2 + (other.y)**2)
    def __ge__(self, other) :
        return ((self.x)**2 + (self.y)**2) >= ((other.x)**2 + (other.y)**2)
    def __lt__(self, other) :
        return ((self.x)**2 + (self.y)**2) < ((other.x)**2 + (other.y)**2)
    def __le__(self,other) :
        return ((self.x)**2 + (self.y)**2) <= ((other.x)**2 + (other.y)**2)

v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
gt = v1>v2
ge = v1>=v2
lt = v1<v2
le = v1<=v2
print('v1 > v2 =', gt)
print('v1 >= v2 =', ge)
print('v1 < v2 =', lt)
print('v1 <= v2 =', le)

v1 > v2 = True
v1 >= v2 = True
v1 < v2 = False
v1 <= v2 = False

circle_instance_var.py

In [101]:
class Circle :
    def __init__(self, name, radius, PI) :
        self.name = name
        self.radius = radius
        self.PI = PI
    
    def area(self) :
        return self.PI * (self.radius **2)

c1 = Circle('C1', 4, 3.14)
print('c1의 면적:', c1.area())
c2 = Circle('C2', 6, 3.141)
print('c2의 면적:', c2.area())
c3 = Circle('C3', 5, 3.1415)
print('c3의 면적:', c3.area())

c1의 면적: 50.24
c2의 면적: 113.076
c3의 면적: 78.53750000000001

circle_class_var.py

In [6]:
 class Circle :
     PI = 3.1415
     def __init__(self, name, radius) :
         self.__name = name
         self.__radius = radius

     def area(self) :
         return Circle.PI * self.__radius **2
    
c1 = Circle('C1', 4)
print('c1의 면적 :', c1.area())
c2 = Circle('C2', 6)
print('c2의 면적 :', c2.area())
c3 = Circle('C3', 5)
print('c3의 면적 :', c3.area())

c1의 면적 : 50.264
c2의 면적 : 113.09400000000001
c3의 면적 : 78.53750000000001

circle_dict.py

In [7]:
class Circle :
    PI = 3.14
    def __init__(self, name, radius) :
        self.name = name
        self.radius = radius

c1 = Circle('C1',4)
print('c1의 속성들:', c1.__dict__)
print('c1의 name 변수값:', c1.__dict__['name'])
print('c1의 radius 변수값:', c1.__dict__['radius'])

c1의 속성들: {'name': 'C1', 'radius': 4}
c1의 name 변수값: C1
c1의 radius 변수값: 4

circle_dict_with_underscore.py

In [8]:
class Circle :
    PI = 3.14
    def __init__(self, name, radius) :
        self.__name = name
        self.__radius = radius

c1 = Circle('C1', 4)
print('c1의 속성들 :', c1.__dict__)
print('c1의 __name 변수값:', c1.__dict__['_Circle__name'])
print('c1의 __radius 변수값:', c1.__dict__['_Circle__radius'])

c1의 속성들 : {'_Circle__name': 'C1', '_Circle__radius': 4}
c1의 __name 변수값: C1
c1의 __radius 변수값: 4

LAB 9-10 : __dict__를 이용한 인스턴스변수의 조회

In [14]:
#1.
class Rect :
    def __init__(self, width, height) :
        self.width = width
        self.height = height

r1 = Rect(100,200)
print(r1.__dict__)
print(r1.__dict__['width'])

{'width': 100, 'height': 200}
100

In [15]:
#2.
class Rect :
    def __init__(self, width, height) :
        self.__width = width
        self.__height = height

r1 = Rect(100,200)
print(r1.__dict__)
print(r1.__dict__['_Rect__width'])

{'_Rect__width': 100, '_Rect__height': 200}
100

대화창 실습 : n = 100의 할당 연산과 객체의 id 값

In [16]:
n = 100
id(100)

10917664

In [17]:
id(n)

10917664

대화창 실습 : 할당 연산자를 통한 참조와 m = n 연산자를 이용한 재참조

In [18]:
n = 100
m = n
id(n)

10917664

In [19]:
id(m)

10917664

대화창 실습 : 할당 연산자를 통한 참조와 n = 200 연산자를 이용한 재참조

In [20]:
n = 100
m = n
n = 200
id(n)

10920864

In [21]:
id(m)

10917664

대화창 실습 : n = n+1 연산과 객체의 id 값의 변화

In [22]:
n = 100
id(n)

10917664

In [23]:
n = n+1
id(n)

10917696