<으뜸 파이썬> 6.7 ~ 6.17,  6.20 ~ 6.26

In [ ]:
#6.7

sales = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
days = 0
for i in range(len(sales)-1) :
    if sales[i] > sales[i+1] :
        days += 1
print('일일 매출 기록 :',sales)
print('지난 10일 동안 전일대비 매출이 감소한 날은 {}일입니다.'.format(days))

일일 매출 기록 : (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
지난 10일 동안 전일대비 매출이 감소한 날은 3일입니다.

In [ ]:
#6.8

tup = (1,2,5,4,3,2,9,1,4,7,8,9,9)
dup = set()
for i in tup :
    if tup.count(i) > 1 :
        dup = dup | {i}
print('주어진 튜플은 :', tup)
print('중복 원소는 :', dup)

주어진 튜플은 : (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
중복 원소는 : {1, 2, 4, 9}

In [ ]:
#6.9

tup = (1,2,5,4,3,2,1,4,7,8,9,9,3,7,3)
del_tup = tuple(set(tup))
print('주어진 튜플 :',tup)
print('중복 제거 튜플 :', del_tup)

주어진 튜플 : (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
중복 제거 튜플 : (1, 2, 3, 4, 5, 7, 8, 9)

In [ ]:
#6.10

#tup = (1,2,5,4,3,2,1,4,7,8,9,9,3,7,3)
tup = (1,2,5,4,3,2,9,4,7,8,9,9,3,7,3)
set_tup = set(tup)      # tup에 있는 수를 중복 없이 나타냄
check = 0
for i in set_tup :
    if tup.count(i) > check :
        num = []    # 리스트 초기화
        check = tup.count(i)
        num = [i]   
    elif tup.count(i) == check :
        num.append(i)
print('주어진 튜플은 :', tup)
print('가장 많이 나타나는 요소는 :', max(num))

주어진 튜플은 : (1, 2, 5, 4, 3, 2, 9, 4, 7, 8, 9, 9, 3, 7, 3)
가장 많이 나타나는 요소는 : 9

In [ ]:
#6.11

given_list = [(), 1, (), (), (1,), ('a',), ('a','b'), ((),), ('a','b'), '']
lists = [(), '', []]
for i in lists :
    while i in given_list :     # lists에 있는 원소가 given_list에 있으면 그 원소를 given_list에서 제거
        given_list.remove(i)
print('주어진 리스트 :', given_list)
print('빈 튜플 요소를 제거한 결과 :', given_list)

주어진 리스트 : [1, (1,), ('a',), ('a', 'b'), ((),), ('a', 'b')]
빈 튜플 요소를 제거한 결과 : [1, (1,), ('a',), ('a', 'b'), ((),), ('a', 'b')]

In [ ]:
#6.12

g_list = [5,6,3,9,2,12,3,8,7]
print('주어진 리스트는 =', g_list)
for i in range(len(g_list)-1) :
    if g_list[i] > g_list[i+1] :
         g_list[i+1], g_list[i] = tuple(g_list[i:i+2])     # 앞의 원소가 뒤의 원소보다 값이 크면 서로 순서를 바꿔줌
print('가장 큰 수를 마지막으로 옮긴 결과 :', g_list)

주어진 리스트는 = [5, 6, 3, 9, 2, 12, 3, 8, 7]
가장 큰 수를 마지막으로 옮긴 결과 : [5, 3, 6, 2, 9, 3, 8, 7, 12]

In [60]:
#6.13

g_list = [5,6,3,9,2,12,3,8,7]
print('주어진 리스트는 =', g_list)
for j in range(len(g_list)-1) :
    for i in range(len(g_list)-1-j) :
        if g_list[i] > g_list[i+1] :
            g_list[i+1], g_list[i] = tuple(g_list[i:i+2])     # 앞의 원소가 뒤의 원소보다 값이 크면 서로 순서를 바꿔줌
print('정렬된 결과는 =', g_list)

주어진 리스트는 = [5, 6, 3, 9, 2, 12, 3, 8, 7]
정렬된 결과는 = [2, 3, 3, 5, 6, 7, 8, 9, 12]

In [64]:
#6.14

g_list = [5,6,31,9,2,12,13,8,7]
print('정렬전 리스트 :', g_list)
for j in range(len(g_list)-1) :
    for i in range(len(g_list)-1-j) :
        if g_list[i] > g_list[i+1] :
            g_list[i+1], g_list[i] = tuple(g_list[i:i+2])     # 앞의 원소가 뒤의 원소보다 값이 크면 서로 순서를 바꿔줌
    print('{} 단계 : {}, {}'.format((j+1), g_list[0:len(g_list)-1-j], g_list[len(g_list)-1-j:]))
print('정렬된 리스트 :', g_list)

정렬전 리스트 : [5, 6, 31, 9, 2, 12, 13, 8, 7]
1 단계 : [5, 6, 9, 2, 12, 13, 8, 7], [31]
2 단계 : [5, 6, 2, 9, 12, 8, 7], [13, 31]
3 단계 : [5, 2, 6, 9, 8, 7], [12, 13, 31]
4 단계 : [2, 5, 6, 8, 7], [9, 12, 13, 31]
5 단계 : [2, 5, 6, 7], [8, 9, 12, 13, 31]
6 단계 : [2, 5, 6], [7, 8, 9, 12, 13, 31]
7 단계 : [2, 5], [6, 7, 8, 9, 12, 13, 31]
8 단계 : [2], [5, 6, 7, 8, 9, 12, 13, 31]
정렬된 리스트 : [2, 5, 6, 7, 8, 9, 12, 13, 31]

In [65]:
#6.15

tup = (4,5,2,3,8,1,9,0)
for i in range(len(tup),0,-1) :
    print(tup[0:i])

(4, 5, 2, 3, 8, 1, 9, 0)
(4, 5, 2, 3, 8, 1, 9)
(4, 5, 2, 3, 8, 1)
(4, 5, 2, 3, 8)
(4, 5, 2, 3)
(4, 5, 2)
(4, 5)
(4,)

In [1]:
#6.16

student_tuple = (('191101', '홍길동', '010-123-45xx'), ('191102', '임꺽정', '010-223-45xx'), ('191103', '장길산', '010-323-45xx'))
tup = []
for i in student_tuple :
    tup.append((i[0],i[1]))
dic = dict(tuple(tup))      # 튜플을 이용하여 딕셔너리를 만듦

print('학생 정보 :',dic)
num = input('학번을 입력하세요 :')
while 1 :
    if int(num) > 0 :
        if num in dic :
            print('{}번 학생은 {}입니다.'.format(num, dic[num]))
        else :
            print('해당 학번의 학생이 없습니다.')
        num = input('학번을 입력하세요 :')
    else :
        print('프로그램을 종료합니다.')
        break

학생 정보 : {'191101': '홍길동', '191102': '임꺽정', '191103': '장길산'}
학번을 입력하세요 :191102
191102번 학생은 임꺽정입니다.
학번을 입력하세요 :191106
해당 학번의 학생이 없습니다.
학번을 입력하세요 :-1
프로그램을 종료합니다.

In [2]:
#6.17

population_A = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_B = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)

In [3]:
#(1)
A_sum = sum(population_A[2:])
B_sum = sum(population_B[2:])
print('마을 A와 B에 보낼 투표용지의 개수는 각각 {} 장과 {} 장입니다.'.format(A_sum, B_sum))

마을 A와 B에 보낼 투표용지의 개수는 각각 971 장과 1698 장입니다.

In [6]:
#(2)
A_rate = sum(population_A[7:])/sum(population_A)
B_rate = sum(population_B[7:])/sum(population_B)
print('마을 A와 B의 고령화 정도는 각각 {:.3f}와 {:.3f}입니다.'.format(A_rate, B_rate))

마을 A와 B의 고령화 정도는 각각 0.165와 0.003입니다.

In [7]:
#6.20

scores = (('박동규', 88, 95, 90), ('강영민', 85, 90, 95), ('박동민', 70, 90, 80), ('홍승주', 90, 90, 95))   #(학생 이름, 국어, 수학, 과학 성적)

In [9]:
#(1)
name, language, math, science = zip(*scores)
print('학생들의 수학 성적의 평균은 {:.2f}입니다.'.format(sum(math)/len(math)))

학생들의 수학 성적의 평균은 91.25입니다.

In [11]:
#(2)
print('학생들의 수학과 과학 성적의 평균은 {:.3f}입니다.'.format((sum(science)+sum(math))/(len(science)+len(math))))

학생들의 수학과 과학 성적의 평균은 90.625입니다.

In [40]:
#(3)
ave = []
for i in scores :
    ave.append(sum(i[1:])/3)
tup_ave = tuple(ave)
student_list = list(zip(name, tup_ave))
student_dic = dict(student_list)

print('이름\t\t평균성적')
print('------------------------')
for j in student_dic :
    print('{}\t\t {:.2f}'.format(j,student_dic[j]))

이름		평균성적
------------------------
박동규		 91.00
강영민		 90.00
박동민		 80.00
홍승주		 91.67

In [59]:
#6.21

st = input('문자열을 입력하시오 : ')
string = st.lower().replace('.','').replace(' ','')     # 문자열을 모두 소문자로 바꾸고 마침표와 공백을 모두 빈 문자열로 바꿈.
l_string = list(string)
l_string.reverse()      
if list(string) == l_string :   # 문자열을 리스트로 바꾸고 원래의 리스트와 순서를 거꾸로한 리스트가 같으면 회문
    print('회문입니다.')
else :
    print('회문이 아닙니다.')

문자열을 입력하시오 : A nut for a jar of tuna
회문입니다.

In [62]:
#6.22

name = input('이름을 입력하세요 : ')
if name[-3:] == 'vic' :
    print('안녕하세요? {} 님. 발칸 반도에서 오셨나요?'.format(name))
else :
    print('안녕하세요? {} 님.'.format(name))

이름을 입력하세요 : Sinisa Mihajlovic
안녕하세요? Sinisa Mihajlovic 님. 발칸 반도에서 오셨나요?

In [66]:
#6.23

import string
al = string.ascii_uppercase 
for i in range(10) :
    print(al[i:len(al)] + al[0:i])

ABCDEFGHIJKLMNOPQRSTUVWXYZ
BCDEFGHIJKLMNOPQRSTUVWXYZA
CDEFGHIJKLMNOPQRSTUVWXYZAB
DEFGHIJKLMNOPQRSTUVWXYZABC
EFGHIJKLMNOPQRSTUVWXYZABCD
FGHIJKLMNOPQRSTUVWXYZABCDE
GHIJKLMNOPQRSTUVWXYZABCDEF
HIJKLMNOPQRSTUVWXYZABCDEFG
IJKLMNOPQRSTUVWXYZABCDEFGH
JKLMNOPQRSTUVWXYZABCDEFGHI

In [67]:
#6.24 - (1)

import string
src_str = string.ascii_uppercase
dst_str = src_str[3:] + src_str[0:3]
print('src_str =', src_str)
print('dst_str =', dst_str)

src_str = ABCDEFGHIJKLMNOPQRSTUVWXYZ
dst_str = DEFGHIJKLMNOPQRSTUVWXYZABC

In [74]:
#(2)
def ciper(a) :
    a_index = src_str.index(a)
    print('src_str의 {} 인덱스 : {}'.format(a, a_index))
    print('dst_str의 {}번째 알파벳 : {}'.format(a_index, dst_str[a_index]))

ciper('A')
ciper('B')

src_str의 A 인덱스 : 0
dst_str의 0번째 알파벳 : D
src_str의 B 인덱스 : 1
dst_str의 1번째 알파벳 : E

In [72]:
#(3)
def ciper(a) :
    a_list = list(a)
    st = ''
    for i in a_list :
        if i.isalpha() :
            i_index = src_str.index(i)
            st += dst_str[i_index]
        else :
            st += i
    return st

a = input('문장을 입력하시오 : ')
print('암호화된 문장 :', ciper(a))

문장을 입력하시오 : ATTACK TONIGHT!
암호화된 문장 : DWWDFN WRQLJKW!

In [75]:
#(4)
def decode(a) :
    a_list = list(a)
    st = ''
    for i in a_list :
        if i.isalpha() :
            i_index = dst_str.index(i)
            st += src_str[i_index]
        else :
            st += i
    return st

a = input('암호화된 문장을 입력하시오 : ')
print('해독된 문장 :',decode(a))

암호화된 문장을 입력하시오 : DWWDFN WRQLJKW!
해독된 문장 : ATTACK TONIGHT!

In [81]:
#(5)
import string
SRC_str = string.ascii_uppercase    # 아스키 대문자
DST_str = SRC_str[3:] + SRC_str[0:3]
src_str = string.ascii_lowercase    # 아스키 소문자
dst_str = src_str[3:] + src_str[0:3]

def encode(a) :
    a_list = list(a)
    st = ''
    for i in a_list :
        if i.isalpha() :
            if i.isupper() :    # i가 대문자이면 아스키 대문자 이용
                i_index = SRC_str.index(i)
                st += DST_str[i_index]
            else :              # i가 소문자이면 아스키 소문자 이용
                i_index = src_str.index(i)
                st += dst_str[i_index]
        else :
            st += i
    return st

a = input('문장을 입력하시오 : ')
print('암호화된 문장 :', encode(a))

문장을 입력하시오 : Veni, vidi, vici.
암호화된 문장 : Yhql, ylgl, ylfl.

In [102]:
#6.25

print('사전 프로그램 시작... 종료는 q를 입력')
dic = {}
while 1 :
    word = input('$ ')
    if '<' == word[0] :
        w = word[2:]
        E,K = w.split(':')
        dic[E] = K
    elif '>' == word[0] :
        if word[2:] in dic :
            print(dic[word[2:]])
        else :
            print('{}가 사전에 없습니다.'.for<mat(word[2:]))
    elif word == 'q' :
        print('사전 프로그램을 종료합니다.')
        break
    else :
        print('입력오류가 발생했습니다.')

사전 프로그램 시작... 종료는 q를 입력
$ < boy:소년
$ < girl:소녀
$ < man:남자, 사람
$ < woman:여자
$ < house:집
$ < Korea:한국
$ > boy
소년
$ > body
body가 사전에 없습니다.
$ man
입력오류가 발생했습니다.
$ > man
남자, 사람
$ q
사전 프로그램을 종료합니다.

In [104]:
#6.26

mylist = [(1,2), (4,5), (4,2), (3,1), (9,4)]
a, b = map(int, input('두 정수를 입력하시오 : ').split())
if (a,b) in mylist :
    print('{}번째에 {} 요소가 있습니다.'.format(mylist.index((a,b))+1, (a,b)))
elif (b,a) in mylist :
    print('{} 요소는 없으나 {}번째에 {} 요소가 있습니다.'.format((a,b),mylist.index((b,a))+1, (b,a)))
else :
    print('이 요소는 없습니다.')

두 정수를 입력하시오 : 4 9
(4, 9) 요소는 없으나 5번째에 (9, 4) 요소가 있습니다.