<으뜸 파이썬> 7.1 ~ 7.6, 7.8 ~ 7.10

In [4]:
#7.1 - (1)

import datetime as dt
start = dt.date(2019, 2, 24)
today = dt.date.today()
time_gap = today - start
print('춘향이와 몽룡이의 연애 시작일 : {}년 {}월 {}일'.format(start.year, start.month, start.day))
print('연애 시작일로부터 경과한 날짜 : {}일'.format(time_gap.days))

춘향이와 몽룡이의 연애 시작일 : 2019년 2월 24일
연애 시작일로부터 경과한 날짜 : 640일

In [6]:
#7.1 - (2)

import datetime as dt
start = dt.date(2019, 2, 24)
plus100day = start + dt.timedelta(days = 100)
plus200day = start + dt.timedelta(days = 200)
plus500day = start + dt.timedelta(days = 500)
plus1000day = start + dt.timedelta(days = 1000)
print('춘향이와 몽룡이의 연애 시작일 : {}년 {}월 {}일'.format(start.year, start.month, start.day))
print('100일 기념일 : {}년 {}월 {}일'.format(plus100day.year, plus100day.month, plus100day.day))
print('200일 기념일 : {}년 {}월 {}일'.format(plus200day.year, plus200day.month, plus200day.day))
print('500일 기념일 : {}년 {}월 {}일'.format(plus500day.year, plus500day.month, plus500day.day))
print('1000일 기념일 : {}년 {}월 {}일'.format(plus1000day.year, plus1000day.month, plus1000day.day))

춘향이와 몽룡이의 연애 시작일 : 2019년 2월 24일
100일 기념일 : 2019년 6월 4일
200일 기념일 : 2019년 9월 12일
500일 기념일 : 2020년 7월 8일
1000일 기념일 : 2021년 11월 20일

In [3]:
#7.2 - (1)

def sum1to1000000() :
    num = [int(x) for x in range(1,1000001,1)]    
    sum(num)

import time
start_time = time.time()

sum1to1000000()
end_time = time.time()
gap = end_time - start_time
print('1에서 1,000,000까지의 합을 구하는 시간 : {:.4f}초'.format(gap))

1에서 1,000,000까지의 합을 구하는 시간 : 0.1841초

In [4]:
#7.2 - (2)

import time
start_time = time.time()
for i in range(100) :
    sum1to1000000()
end_time = time.time()
gap = end_time - start_time
print('1,000,000까지의 합을 100번 반복해서 구하는 시간 : {:.4f}초'.format(gap))

1,000,000까지의 합을 100번 반복해서 구하는 시간 : 16.2232초

In [6]:
#7.3 - (1)

import time as t

def Hello() :
    print('Hello Python!')
    
start_time = t.time()
for i in range(100) :
    Hello()
end_time = t.time()
gap = end_time - start_time
print('Hello Python! 출력을 100번 반복하는 시간 : {:.4f}초'.format(gap))

Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python! 출력을 100번 반복하는 시간 : 0.0110초

In [12]:
#7.3 - (2)

def factorial_1000() :
    f = 1
    for i in range(1,1001,1) :
        f *= i
    return f
    
start_time = t.time()
for j in range(100) :
    factorial_1000()
end_time = t.time()
gap = end_time - start_time
print('1000!을 100번 반복해서 구하는 시간 : {:.4f}초'.format(gap))

1000!을 100번 반복해서 구하는 시간 : 0.0263초

In [13]:
#7.3 - (3)

def sum_th() :
    s=0
    for i in range(1,1001,2) :
        s += i**3
    return s

start_time = t.time()
for j in range(100) :
    sum_th()
end_time = t.time()
gap = end_time - start_time
print('1에서 100까지 홀수의 세제곱 더하기를 100번 반복하는 시간 : {:.4f}초'.format(gap))

1에서 100까지 홀수의 세제곱 더하기를 100번 반복하는 시간 : 0.0215초

In [19]:
#7.3 - (4)

def sin_sum() :
    s = 0
    import math as m
    for i in range(1,361,1) :
        s += m.sin(m.radians(i))
    return s

start_time = t.time()
for j in range(100) :
    sin_sum()
end_time = t.time()
gap = end_time - start_time
print('1에서 360도까지 sin 값의 합을 100번 반복하는 시간 : {:.4f}초'.format(gap))

1에서 360도까지 sin 값의 합을 100번 반복하는 시간 : 0.0076초

In [39]:
#7.4 - (1)

def my_rand(x) :
    new_x = (11035 * x + 12345) % (2**17)
    return new_x
x = 101
for _ in range(10) :
    x = my_rand(x)
    print(x)

78304
70361
106524
50989
114936
78433
52084
8565
24208
22889

In [54]:
#7.4 - (2)

import time as t
def my_rand(x) :
    new_x = (11035 * x + 12345) % (2**17)
    return new_x
x = int(t.time())
for i in range(2) :
    for _ in range(5) :
        x = my_rand(x)
        print(x)
    print()

94713
2172
125261
113240
106369

44500
74133
49648
128137
130476

In [45]:
#7.5

import math as m
for i in range(0,181,10) :
    print('sin({:3}) = {:.3f}, cos({}) = {:.3f}, tan({}) = {:.3f}'.format(i,m.sin(m.radians(i)), i, m.cos(m.radians(i)), i, m.tan(m.radians(i))))

sin(  0) = 0.000, cos(0) = 1.000, tan(0) = 0.000
sin( 10) = 0.174, cos(10) = 0.985, tan(10) = 0.176
sin( 20) = 0.342, cos(20) = 0.940, tan(20) = 0.364
sin( 30) = 0.500, cos(30) = 0.866, tan(30) = 0.577
sin( 40) = 0.643, cos(40) = 0.766, tan(40) = 0.839
sin( 50) = 0.766, cos(50) = 0.643, tan(50) = 1.192
sin( 60) = 0.866, cos(60) = 0.500, tan(60) = 1.732
sin( 70) = 0.940, cos(70) = 0.342, tan(70) = 2.747
sin( 80) = 0.985, cos(80) = 0.174, tan(80) = 5.671
sin( 90) = 1.000, cos(90) = 0.000, tan(90) = 16331239353195370.000
sin(100) = 0.985, cos(100) = -0.174, tan(100) = -5.671
sin(110) = 0.940, cos(110) = -0.342, tan(110) = -2.747
sin(120) = 0.866, cos(120) = -0.500, tan(120) = -1.732
sin(130) = 0.766, cos(130) = -0.643, tan(130) = -1.192
sin(140) = 0.643, cos(140) = -0.766, tan(140) = -0.839
sin(150) = 0.500, cos(150) = -0.866, tan(150) = -0.577
sin(160) = 0.342, cos(160) = -0.940, tan(160) = -0.364
sin(170) = 0.174, cos(170) = -0.985, tan(170) = -0.176
sin(180) = 0.000, cos(180) = -1.000, tan(180) = -0.000

In [51]:
#7.6

import math as m
for i in range(1,11,1) :
    print('sqrt({:2}) = {:.3f}'.format(i,m.sqrt(i)))

sqrt( 1) = 1.000
sqrt( 2) = 1.414
sqrt( 3) = 1.732
sqrt( 4) = 2.000
sqrt( 5) = 2.236
sqrt( 6) = 2.449
sqrt( 7) = 2.646
sqrt( 8) = 2.828
sqrt( 9) = 3.000
sqrt(10) = 3.162

In [55]:
#7.8

import random as rd
R = rd.randrange(1,7)
J = rd.randrange(1,7)
print('로미오의 주사위 숫자는 {} 입니다.'.format(R))
print('줄리엣의 주사위 숫자는 {} 입니다.'.format(J))
if R > J :
    print('로미오가 이겼습니다.')
elif R < J :
    print('줄리엣이 이겼습니다.')
else :
    print('비겼습니다.')

로미오의 주사위 숫자는 6 입니다.
줄리엣의 주사위 숫자는 3 입니다.
로미오가 이겼습니다.

In [58]:
#7.9

import random as rd
rsp = ['가위','바위', '보']
win = [('가위','보'),('바위','가위'),('보','바위')]   # 이기는 경우 >> Ex) '가위'를 냈을 때 상대방이 '보'를 냄
R = rd.randrange(0,3)
J = rd.randrange(0,3)
print('로미오의 승부 :',rsp[R])
print('줄리엣의 승부 :',rsp[J])

if (rsp[R], rsp[J]) in win :
    print('로미오가 이겼습니다.')
elif (rsp[J], rsp[R]) in win :
    print('줄리엣이 이겼습니다.')
else :
    print('비겼습니다.')

로미오의 승부 : 가위
줄리엣의 승부 : 바위
줄리엣이 이겼습니다.

In [65]:
#7.10

import random as rd
x = rd.randint(1,20)
n = int(input('1~20까지의 숫자를 입력하세요 : '))
chance = 1
while 1 :
    if x > n :
        print('{} 보다 큽니다!'.format(n))
    elif x < n :
        print('{} 보다 작습니다!'.format(n))
    else :
        print('정답입니다!')
        break
    n = int(input('1~20까지의 숫자를 입력하세요 : '))
    chance += 1

if (chance < 3) :
    print('{} 번만에 맞춘 당신은 천재!'.format(chance))
elif (3 <= chance <=6) :
    print('{} 번만에 맞추셨네요. 잘했어요^^'.format(chance))
else :
    print('{} 번만에 맞추다니 쩝쩝...'.format(chance))

1~20까지의 숫자를 입력하세요 : 3
3 보다 큽니다!
1~20까지의 숫자를 입력하세요 : 7
7 보다 큽니다!
1~20까지의 숫자를 입력하세요 : 8
8 보다 큽니다!
1~20까지의 숫자를 입력하세요 : 10
10 보다 큽니다!
1~20까지의 숫자를 입력하세요 : 20
정답입니다!
5 번만에 맞추셨네요. 잘했어요^^