#딕셔너리

대화창 실습 : person 딕셔너리의 생성과 조회

In [ ]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person['이름']

'홍길동'

In [ ]:
person['나이']

26

In [ ]:
person['몸무게']

82

대화창 실습 : students 딕셔너리의 생성과 조회

In [ ]:
students = { 2019001 : '이순신', 2019002 : '김유신', 2019003 : '강감찬'}
students[2019001]

'이순신'

In [ ]:
students[2019002]

'김유신'

In [ ]:
students[2019003]

'강감찬'

LAB 6-1 : 딕셔너리의 생성

In [ ]:
#1.
capital_dic = {'Korea' : 'Seoul', 'China' : 'Beijing', 'USA' : 'Washington DC'}
print(capital_dic['Korea'])
print(capital_dic['China'])
print(capital_dic['USA'])

Seoul
Beijing
Washington DC

In [ ]:
#2.
fruits_dic = {'apple' : 5000, 'banana' : 4000, 'grape' : 5300, 'melon' : 6500}
print('apple의 가격은 {}원입니다.'.format(fruits_dic['apple']))
print('banana의 가격은 {}원입니다.'.format(fruits_dic['banana']))
print('grape의 가격은 {}원입니다.'.format(fruits_dic['grape']))
print('melon의 가격은 {}원입니다.'.format(fruits_dic['melon']))

apple의 가격은 5000원입니다.
banana의 가격은 4000원입니다.
grape의 가격은 5300원입니다.
melon의 가격은 6500원입니다.

대화창 실습 : 딕셔너리의 항목 삽입

In [ ]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person['직업'] = '율도국의 왕'
person

{'나이': 26, '몸무게': 82, '이름': '홍길동', '직업': '율도국의 왕'}

대화창 실습 : 딕셔너리의 항목 수정

In [ ]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person['나이'] = 27
person

{'나이': 27, '몸무게': 82, '이름': '홍길동'}

대화창 실습 : 딕셔너리의 항목 삭제

In [ ]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
del person['나이']
person

{'몸무게': 82, '이름': '홍길동'}

대화창 실습 : 딕셔너리의 항목 삭제 - KeyError 오류 발생

In [ ]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
# del person['출생지']   >>  keyError: '출생지'

LAB 6-2 : 딕셔너리의 항목 추가와 삭제

In [ ]:
#1.
person['특기'] = '분신술'
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}

In [ ]:
#2.
person['아버지'] = '홍판서'
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [ ]:
#3.
del person['나이']
print(person)

{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

대화창 실습 : 딕셔너리의 항목 삽입

In [ ]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
len(person)

3

In [ ]:
'이름' in person

True

In [ ]:
'직업' in person

False

In [ ]:
'홍길동' in person  # '홍길동'은 값에 있으나 키에 없음 !!

False

대화창 실습 : 딕셔너리의 비교 연산

In [ ]:
d1 = {'이름' : '홍길동', '나이' : 26}
d2 = {'나이' : 26, '이름' : '홍길동'}
d1 == d2

True

LAB 6-3 : 딕셔너리와 연산

In [ ]:
#1.
capital_dic = {'Korea' : 'Seoul', 'China' : 'Beijing', 'USA' : 'Washington DC'}
print('Korea' in capital_dic)
print('China' in capital_dic)
print('Indonesia' in capital_dic)
print('Beijing' in capital_dic)

True
True
False
False

대화창 실습 : 딕셔너리의 keys(), values(), items() 메소드

In [ ]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person.keys()

dict_keys(['이름', '나이', '몸무게'])

In [ ]:
person.values()

dict_values(['홍길동', 26, 82])

In [ ]:
person.items()

dict_items([('이름', '홍길동'), ('나이', 26), ('몸무게', 82)])

대화창 실습 : 딕셔너리의 get() 메소드

In [ ]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person.get('취미')

In [ ]:
person.get('이름')

'홍길동'

대화창 실습 : 딕셔너리의 메소드 살펴보기

In [ ]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
person.popitem()

('몸무게', 82)

In [ ]:
person

{'나이': 26, '이름': '홍길동'}

In [ ]:
person.pop('나이')

26

In [ ]:
person

{'이름': '홍길동'}

In [ ]:
person.clear()

In [ ]:
person

{}

LAB 6-4 : 딕셔너리의 활용

In [ ]:
#1.
fruits_dic = {'apple' : 6000, 'melon' : 3000, 'banana' : 5000, 'orange' : 7000}

In [ ]:
#2.
fruits_dic.keys()

dict_keys(['apple', 'melon', 'banana', 'orange'])

In [ ]:
#3.
fruits_dic.values()

dict_values([6000, 3000, 5000, 7000])

In [ ]:
#4.
fruits_dic.pop('apple')
fruits_dic

{'banana': 5000, 'melon': 3000, 'orange': 7000}

In [ ]:
#5.
fruits_dic.clear()
fruits_dic

{}

대화창 실습 : for 문을 이용한 딕셔너리의 순회

In [ ]:
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82}
for key in person : 
    print('{} : {}'.format(key, person[key]))

이름 : 홍길동
나이 : 26
몸무게 : 82

list_pop.py

In [ ]:
lst = [11,22,33,44,55]
print('pop(0) 이전 :', lst)
print('pop(0) 이전 lst[1] =', lst[1])
lst.pop(0)
print('pop(0) 이후 :',lst)
print('pop(0) 이후 lst[1] =', lst[1])

pop(0) 이전 : [11, 22, 33, 44, 55]
pop(0) 이전 lst[1] = 22
pop(0) 이후 : [22, 33, 44, 55]
pop(0) 이후 lst[1] = 33

dic_pop.py

In [ ]:
dic = { 0:11, 1:22, 2:33, 3:44, 4:55}
print('pop(0) 이전 :', dic.items())
print('pop(0) 이전 dic[1] =', dic[1])
dic.pop(0)
print('pop(0) 이후 :',dic.items())
print('pop(0) 이후 dic[1] =', dic[1])

pop(0) 이전 : dict_items([(0, 11), (1, 22), (2, 33), (3, 44), (4, 55)])
pop(0) 이전 dic[1] = 22
pop(0) 이후 : dict_items([(1, 22), (2, 33), (3, 44), (4, 55)])
pop(0) 이후 dic[1] = 22

LAB 6-5 : 딕셔너리의 활용

In [ ]:
#1.
fruits_dic = {'apple' : 6000, 'melon' : 3000, 'banana' : 5000, 'orange' : 4000}
print(list(fruits_dic.keys()))

['apple', 'melon', 'banana', 'orange']

In [ ]:
#2.
print(list(fruits_dic.values()))

[6000, 3000, 5000, 4000]

In [ ]:
#3.
print('fruits_dic 딕셔너리의 항목의 개수 :',len(fruits_dic))

fruits_dic 딕셔너리의 항목의 개수 : 4

In [ ]:
#4.
def check(key) :
    ch = key in fruits_dic
    if ch == True :
        print('{} is in fruits_dic.'.format(key))
    else :
        print('{} is not in fruits_dic.'.format(key))

check('apple')
check('mango')

apple is in fruits_dic.
mango is not in fruits_dic.

#튜플

대화창 실습 : 튜플의 생성과 조회

In [ ]:
t = (1,2,3,4)
t[0]

1

In [ ]:
t[1]

2

대화창 실습 : 튜플 항목에 대한 할당 연산은 오류를 발생시킴

In [ ]:
t = (0,1,2,3,4)
t[0] = 100  # 튜플은 내부의 값을 변경할 수 없음. >> 할당 연산은 오류를 발생시킴

TypeError: ignored

swap_temp.py

In [ ]:
a = 100
b = 200
print('swap 이전 : a =', a, 'b =', b)
temp = a
a = b
b = temp
print('swap 이후 : a =', a, 'b =', b)

swap 이전 : a = 100 b = 200
swap 이후 : a = 200 b = 100

swap_tuple.py

In [ ]:
a = 100
b = 200
print('swap 이전 : a =', a, 'b =', b)
a, b = b, a
print('튜플을 사용한 swap 결과 : a =', a, 'b =', b)

swap 이전 : a = 100 b = 200
튜플을 사용한 swap 결과 : a = 200 b = 100

LAB 6-6 : 튜플의 생성과 패킹, 언패킹

In [ ]:
#1.
the_day = (1919, 3, 1)
year, month, day = the_day
print('{}년 {}월 {}일은 삼일절입니다.'.format(year, month, day))

1919년 3월 1일은 삼일절입니다.

In [ ]:
#2.
lists = [10,20,30]
c,b,a = tuple(lists)
print('a =',a)
print('b =',b)
print('c =',c)

a = 30
b = 20
c = 10

대화창 실습 : 튜플의 +와 * 연산

In [ ]:
t0 = (10,20,30)
t1 = t0+t0
t1

(10, 20, 30, 10, 20, 30)

In [ ]:
t2 = t0 * 2
t2

(10, 20, 30, 10, 20, 30)

In [ ]:
t3 = t0 + 40    # 튜플과 정수는 덧셈 연산을 할 수 없음.

TypeError: ignored

In [ ]:
t4 = t0 + (40,)
t4

(10, 20, 30, 40)

대화창 실습 : 튜플의 메소드 테스트

In [ ]:
t = (10,20,30,20,20,10,50)
t.count(10)

2

In [ ]:
t.count(20)

3

In [ ]:
t.index(30)

2

In [ ]:
t.index(50)

6

tuple_item_change.py

In [ ]:
t_fruits = ('apple','orange','water melon')
print('변경 전 :', t_fruits)
f_list = list(t_fruits)
f_list[1] = 'kiwi'
t_fruits = tuple(f_list)
print('변경 후 :',t_fruits)

변경 전 : ('apple', 'orange', 'water melon')
변경 후 : ('apple', 'kiwi', 'water melon')

LAB 6-7 : 튜플의 활용

In [ ]:
#1.
person = ('홍길동', 2019001, 179)
print('person =',person)

person = ('홍길동', 2019001, 179)

In [ ]:
#2.
# person[1] = 2019003  >> TypeError 발생

In [ ]:
#3.
p_list = list(person)
p_list[1] = 2020003
person = tuple(p_list)
print('학번 변동 후 person =',person)

학번 변동 후 person = ('홍길동', 2020003, 179)

circle_area_and_circum.py

In [ ]:
def area_and_circum(radius) :
    area = 3.14 * radius ** 2
    circum = 2 * 3.14 * radius
    return area, circum     # 튜플 반환
r = 4
a, c = area_and_circum(r)       # 반환받은 튜플 언패킹
print('반지름 {}인 원의 면적과 둘레 : {}, {}'.format(r,a,c))

반지름 4인 원의 면적과 둘레 : 50.24, 25.12

LAB 6-8 : 튜플의 반환

In [ ]:
#1.
def square(x,y) :
    x_sq = x**2
    y_sq = y**2
    return x_sq, y_sq
x = 10
y = 20
x_sq, y_sq = square(x,y)
print('{} 제곱 = {}, {} 제곱 = {}'.format(x, x_sq, y, y_sq))

10 제곱 = 100, 20 제곱 = 400

In [ ]:
#2.
(10,20,30) + (40,50,60)

(10, 20, 30, 40, 50, 60)

In [ ]:
#3.
print('Hello ' *3)

Hello Hello Hello

In [ ]:
print(('Hello ',) *3)

('Hello ', 'Hello ', 'Hello ')

# 집합

대화창 실습 : 리스트와 튜플로부터 집합 만들기

In [ ]:
days_list = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
days_set = set(days_list)
days_set

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [ ]:
fruits_tuple = ('apple', 'orange', 'water melon')
fruits_set = set(fruits_tuple)
fruits_set

{'apple', 'orange', 'water melon'}

In [ ]:
h_str = 'hello'
h_set = set(h_str)
h_set   # 집합에서는 문자 'l'의 중복을 허용하지 않음.

{'e', 'h', 'l', 'o'}

LAB 6-9 : 집합의 생성

In [ ]:
#1.
lst = ['apple', 'mango', 'banana']
print('lst =', lst)
print('s1 =', set(lst))

lst = ['apple', 'mango', 'banana']
s1 = {'banana', 'apple', 'mango'}

In [ ]:
#2.
greet = 'Good afternoon'
print('greet =',greet)
print('s2 =', set(greet))

greet = Good afternoon
s2 = {'a', 't', 'f', ' ', 'r', 'n', 'd', 'G', 'o', 'e'}

대화창 실습 : 집합의 메소드 테스트

In [ ]:
s = {100, 100, 200, 200, 300, 400}
s

{100, 200, 300, 400}

In [ ]:
s.add(500)
s

{100, 200, 300, 400, 500}

In [ ]:
s.discard(100)
s

{200, 300, 400, 500}

대화창 실습 : 집합과 연산

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s1 & s2

{4, 5, 6}

In [ ]:
s1 - s2

{1, 2, 3}

In [ ]:
s1 ^ s2

{1, 2, 3, 7, 8, 9}

대화창 실습 : 집합과 연산

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s1.intersection(s2)

{4, 5, 6}

In [ ]:
s1.difference(s2)

{1, 2, 3}

In [ ]:
s1.symmetric_difference(s2)

{1, 2, 3, 7, 8, 9}

대화창 실습 : 집합과 s1 - s2 - s3 연산

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s3 = {5,6,9,10,11}
s1 & s2 & s3

{5, 6}

In [ ]:
s1 - s2 - s3

{1, 2, 3}

대화창 실습 : 부분집합과 상위집합 연산

In [ ]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
s3 = {1,2,6}
s2.issubset(s1)

True

In [ ]:
s3.issubset(s1)

False

In [ ]:
s1.issuperset(s2)

True

In [ ]:
s1.issuperset(s3)

False

대화창 실습 : 두 집합의 서로소 연산

In [ ]:
s1 = {1,2,3}
s2 = {10,20,30}
s1.isdisjoint(s2)

True

LAB 6-8 : 집합의 연산

In [ ]:
#1.
s1 = {10,20,30,40}
s2 = {30,40,50,60,70}
print(s1|s2)
print(s1&s2)
print(s1-s2)
print(s1^s2)
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.isdisjoint(s2))

{70, 40, 10, 50, 20, 60, 30}
{40, 30}
{10, 20}
{50, 20, 70, 10, 60}
False
False
False

product_set_test.py

In [ ]:
def product_set(set1, set2) :
    res = set()
    for i in set1 :
        for j in set2 :
            res = res | {(i,j)}
    return res

A = {1,3}
B = {2,4}
AXB = product_set(A,B)
print('A =', A)
print('B =', B)
print('AXB =', AXB)

A = {1, 3}
B = {2, 4}
AXB = {(1, 2), (3, 2), (3, 4), (1, 4)}

LAB 6-11 : 곱집합 연산

In [ ]:
#1.
A = {1,2}
B = {'A', 'B', 'C'}
print(product_set(A,B))
print(product_set(B,A))
print(product_set(A,A))
print(product_set(B,B))

{(2, 'B'), (2, 'A'), (1, 'A'), (2, 'C'), (1, 'B'), (1, 'C')}
{('B', 1), ('A', 2), ('C', 2), ('A', 1), ('B', 2), ('C', 1)}
{(1, 2), (1, 1), (2, 1), (2, 2)}
{('B', 'A'), ('C', 'A'), ('B', 'B'), ('B', 'C'), ('A', 'A'), ('C', 'B'), ('A', 'C'), ('C', 'C'), ('A', 'B')}

set_exponent.py

In [ ]:
def product_set(set1, set2) :
    res = set()
    for i in set1 :
        for j in set2 :
            res = res | {(i,j)}
    return res

def exp(input_set, exponent) :
    res = input_set
    for _ in range(exponent-1) :
        res = product_set(res, input_set) 
    return res

A = {1,3}
A3 = exp(A,3)
print(A3)

{((1, 1), 1), ((3, 1), 1), ((1, 3), 3), ((1, 1), 3), ((3, 3), 1), ((1, 3), 1), ((3, 1), 3), ((3, 3), 3)}

set_dice_twice.py

In [ ]:
def product_set(set1, set2) :
    res = set()
    for i in set1 :
        for j in set2 :
            res = res | {(i,j)}
    return res

cases = {1,2,3,4,5,6}
cases_2times = product_set(cases,cases)
print(cases_2times)

{(1, 3), (6, 6), (5, 6), (2, 1), (6, 2), (1, 6), (5, 1), (2, 5), (1, 2), (3, 3), (5, 5), (4, 4), (6, 3), (1, 5), (3, 6), (2, 2), (3, 4), (4, 1), (1, 1), (6, 4), (3, 2), (2, 6), (5, 4), (4, 5), (1, 4), (2, 3), (4, 2), (6, 5), (3, 5), (5, 3), (4, 6), (6, 1), (3, 1), (4, 3), (5, 2), (2, 4)}

대화창 실습 : 튜플 데이터 요소의 합

In [ ]:
a_tuple = (1,2,3,4,5)
sum(a_tuple)

15

set_dice_twice_sum.py

In [ ]:
def product_set(set1, set2) :
    res = set()
    for i in set1 :
        for j in set2 :
            res = res | {(i,j)}
    return res

cases = {1,2,3,4,5,6}
cases_2times = product_set(cases,cases)

sum_set = { sum(tup) for tup in cases_2times }
print('sum_set =', sum_set)
sum_list = [ sum(tup) for tup in cases_2times ]
print('sum_list =', sum_list)

sum_set = {2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
sum_list = [4, 12, 11, 3, 8, 7, 6, 7, 3, 6, 10, 8, 9, 6, 9, 4, 7, 5, 2, 10, 5, 8, 9, 9, 5, 5, 6, 11, 8, 8, 10, 7, 4, 7, 7, 6]

대화창 실습 : 주사위를 세 번 던져 얻는 모든 경우

In [ ]:
cases = {1,2,3,4,5,6}
cases_2times = product_set(cases, cases)
cases_3times = product_set(cases, cases_2times)
cases_3times

{(1, (1, 1)),
 (1, (1, 2)),
 (1, (1, 3)),
 (1, (1, 4)),
 (1, (1, 5)),
 (1, (1, 6)),
 (1, (2, 1)),
 (1, (2, 2)),
 (1, (2, 3)),
 (1, (2, 4)),
 (1, (2, 5)),
 (1, (2, 6)),
 (1, (3, 1)),
 (1, (3, 2)),
 (1, (3, 3)),
 (1, (3, 4)),
 (1, (3, 5)),
 (1, (3, 6)),
 (1, (4, 1)),
 (1, (4, 2)),
 (1, (4, 3)),
 (1, (4, 4)),
 (1, (4, 5)),
 (1, (4, 6)),
 (1, (5, 1)),
 (1, (5, 2)),
 (1, (5, 3)),
 (1, (5, 4)),
 (1, (5, 5)),
 (1, (5, 6)),
 (1, (6, 1)),
 (1, (6, 2)),
 (1, (6, 3)),
 (1, (6, 4)),
 (1, (6, 5)),
 (1, (6, 6)),
 (2, (1, 1)),
 (2, (1, 2)),
 (2, (1, 3)),
 (2, (1, 4)),
 (2, (1, 5)),
 (2, (1, 6)),
 (2, (2, 1)),
 (2, (2, 2)),
 (2, (2, 3)),
 (2, (2, 4)),
 (2, (2, 5)),
 (2, (2, 6)),
 (2, (3, 1)),
 (2, (3, 2)),
 (2, (3, 3)),
 (2, (3, 4)),
 (2, (3, 5)),
 (2, (3, 6)),
 (2, (4, 1)),
 (2, (4, 2)),
 (2, (4, 3)),
 (2, (4, 4)),
 (2, (4, 5)),
 (2, (4, 6)),
 (2, (5, 1)),
 (2, (5, 2)),
 (2, (5, 3)),
 (2, (5, 4)),
 (2, (5, 5)),
 (2, (5, 6)),
 (2, (6, 1)),
 (2, (6, 2)),
 (2, (6, 3)),
 (2, (6, 4)),
 (2, (6, 5)),
 (2, (6, 6)),
 (3, (1, 1)),
 (3, (1, 2)),
 (3, (1, 3)),
 (3, (1, 4)),
 (3, (1, 5)),
 (3, (1, 6)),
 (3, (2, 1)),
 (3, (2, 2)),
 (3, (2, 3)),
 (3, (2, 4)),
 (3, (2, 5)),
 (3, (2, 6)),
 (3, (3, 1)),
 (3, (3, 2)),
 (3, (3, 3)),
 (3, (3, 4)),
 (3, (3, 5)),
 (3, (3, 6)),
 (3, (4, 1)),
 (3, (4, 2)),
 (3, (4, 3)),
 (3, (4, 4)),
 (3, (4, 5)),
 (3, (4, 6)),
 (3, (5, 1)),
 (3, (5, 2)),
 (3, (5, 3)),
 (3, (5, 4)),
 (3, (5, 5)),
 (3, (5, 6)),
 (3, (6, 1)),
 (3, (6, 2)),
 (3, (6, 3)),
 (3, (6, 4)),
 (3, (6, 5)),
 (3, (6, 6)),
 (4, (1, 1)),
 (4, (1, 2)),
 (4, (1, 3)),
 (4, (1, 4)),
 (4, (1, 5)),
 (4, (1, 6)),
 (4, (2, 1)),
 (4, (2, 2)),
 (4, (2, 3)),
 (4, (2, 4)),
 (4, (2, 5)),
 (4, (2, 6)),
 (4, (3, 1)),
 (4, (3, 2)),
 (4, (3, 3)),
 (4, (3, 4)),
 (4, (3, 5)),
 (4, (3, 6)),
 (4, (4, 1)),
 (4, (4, 2)),
 (4, (4, 3)),
 (4, (4, 4)),
 (4, (4, 5)),
 (4, (4, 6)),
 (4, (5, 1)),
 (4, (5, 2)),
 (4, (5, 3)),
 (4, (5, 4)),
 (4, (5, 5)),
 (4, (5, 6)),
 (4, (6, 1)),
 (4, (6, 2)),
 (4, (6, 3)),
 (4, (6, 4)),
 (4, (6, 5)),
 (4, (6, 6)),
 (5, (1, 1)),
 (5, (1, 2)),
 (5, (1, 3)),
 (5, (1, 4)),
 (5, (1, 5)),
 (5, (1, 6)),
 (5, (2, 1)),
 (5, (2, 2)),
 (5, (2, 3)),
 (5, (2, 4)),
 (5, (2, 5)),
 (5, (2, 6)),
 (5, (3, 1)),
 (5, (3, 2)),
 (5, (3, 3)),
 (5, (3, 4)),
 (5, (3, 5)),
 (5, (3, 6)),
 (5, (4, 1)),
 (5, (4, 2)),
 (5, (4, 3)),
 (5, (4, 4)),
 (5, (4, 5)),
 (5, (4, 6)),
 (5, (5, 1)),
 (5, (5, 2)),
 (5, (5, 3)),
 (5, (5, 4)),
 (5, (5, 5)),
 (5, (5, 6)),
 (5, (6, 1)),
 (5, (6, 2)),
 (5, (6, 3)),
 (5, (6, 4)),
 (5, (6, 5)),
 (5, (6, 6)),
 (6, (1, 1)),
 (6, (1, 2)),
 (6, (1, 3)),
 (6, (1, 4)),
 (6, (1, 5)),
 (6, (1, 6)),
 (6, (2, 1)),
 (6, (2, 2)),
 (6, (2, 3)),
 (6, (2, 4)),
 (6, (2, 5)),
 (6, (2, 6)),
 (6, (3, 1)),
 (6, (3, 2)),
 (6, (3, 3)),
 (6, (3, 4)),
 (6, (3, 5)),
 (6, (3, 6)),
 (6, (4, 1)),
 (6, (4, 2)),
 (6, (4, 3)),
 (6, (4, 4)),
 (6, (4, 5)),
 (6, (4, 6)),
 (6, (5, 1)),
 (6, (5, 2)),
 (6, (5, 3)),
 (6, (5, 4)),
 (6, (5, 5)),
 (6, (5, 6)),
 (6, (6, 1)),
 (6, (6, 2)),
 (6, (6, 3)),
 (6, (6, 4)),
 (6, (6, 5)),
 (6, (6, 6))}

대화창 실습 : 중첩 튜플의 원소에 sum을 사용할 경우에 발생하는 오류

In [ ]:
sums = [sum(tup) for tup in cases_3times]

TypeError: ignored

set_dice_triple.py

In [ ]:
def tuple_sum(tup) :
    if isinstance(tup, int) :
        return tup
    else :
        accum = 0
        for element in tup :
            accum += tuple_sum(element)
    
    return accum

def product_set(set1, set2) :
    res = set()
    for i in set1 :
        for j in set2 :
            res = res | {(i,j)}
    return res

cases = {1,2,3,4,5,6}
cases_2times = product_set(cases, cases)
cases_3times = product_set(cases, cases_2times)
sums = [tuple_sum(tup) for tup in cases_3times]
print(sums)

[12, 5, 8, 9, 9, 10, 10, 12, 14, 10, 6, 8, 9, 6, 9, 10, 15, 10, 13, 13, 7, 13, 10, 7, 8, 12, 9, 13, 7, 14, 7, 6, 10, 8, 5, 12, 13, 9, 10, 11, 11, 9, 14, 11, 12, 12, 12, 9, 15, 15, 8, 13, 6, 17, 8, 9, 13, 16, 9, 13, 11, 18, 7, 7, 14, 11, 4, 10, 10, 11, 12, 12, 14, 12, 9, 13, 12, 13, 12, 5, 11, 8, 5, 6, 16, 14, 11, 11, 6, 13, 11, 12, 13, 8, 11, 8, 8, 9, 9, 11, 12, 13, 16, 11, 8, 7, 11, 12, 12, 7, 8, 9, 8, 12, 5, 13, 7, 16, 16, 14, 9, 12, 11, 10, 10, 10, 8, 12, 10, 13, 15, 10, 10, 9, 15, 13, 15, 10, 15, 6, 14, 14, 4, 11, 7, 17, 6, 14, 11, 8, 7, 9, 10, 8, 10, 13, 10, 6, 9, 7, 10, 15, 14, 15, 9, 7, 9, 9, 14, 13, 10, 14, 12, 9, 10, 11, 4, 5, 10, 15, 16, 6, 9, 10, 12, 13, 11, 10, 11, 9, 11, 8, 12, 12, 11, 11, 8, 11, 17, 9, 14, 11, 10, 8, 7, 8, 11, 12, 11, 13, 13, 3, 12, 14, 8, 7]

LAB 6-12 : 복수로 주사위를 던졌을 때 특정값 이상을 얻을 확률 구하기

In [ ]:
def tuple_sum(tup) :
    if isinstance(tup, int) :
        return tup
    else :
        accum = 0
        for element in tup :
            accum += tuple_sum(element)   
    return accum

def product_set(set1, set2) :
    res = set()
    for i in set1 :
        for j in set2 :
            res = res | {(i,j)}
    return res

def exp(input_set, exponent) :
    res = input_set
    for _ in range(exponent - 1) :
        res = product_set(res, input_set)
    return res

In [ ]:
#1.
dice = {1,2,3,4,5,6}
print('주사위를 세 번 던져 발생할 수 있는 사건은 {}가지 경우가 존재합니다.'.format(len(exp(dice, 3))))

주사위를 세 번 던져 발생할 수 있는 사건은 216가지 경우가 존재합니다.

In [ ]:
#2.
D3 = exp(dice,3)
sums = [tuple_sum(tup) for tup in D3] 
s = 0
for i in sums :
    if i >= 10 :
        s += 1

print('주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는 {} 가지입니다.'.format(s))

주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는 135 가지입니다.

In [ ]:
#3.

def prob_over(x) :
    sums = [tuple_sum(tup) for tup in exp(dice,3)]
    num = 0
    for i in range(x,19,1) :
        num += sums.count(i)
    prob = 100* (num/len(sums))
    return prob

for x in range(3,19,1) :
    print('눈의 합으로 {:2} 이상을 얻을 확률 {:6.2f}%'.format(x,prob_over(x)))

눈의 합으로  3 이상을 얻을 확률 100.00%
눈의 합으로  4 이상을 얻을 확률  99.54%
눈의 합으로  5 이상을 얻을 확률  98.15%
눈의 합으로  6 이상을 얻을 확률  95.37%
눈의 합으로  7 이상을 얻을 확률  90.74%
눈의 합으로  8 이상을 얻을 확률  83.80%
눈의 합으로  9 이상을 얻을 확률  74.07%
눈의 합으로 10 이상을 얻을 확률  62.50%
눈의 합으로 11 이상을 얻을 확률  50.00%
눈의 합으로 12 이상을 얻을 확률  37.50%
눈의 합으로 13 이상을 얻을 확률  25.93%
눈의 합으로 14 이상을 얻을 확률  16.20%
눈의 합으로 15 이상을 얻을 확률   9.26%
눈의 합으로 16 이상을 얻을 확률   4.63%
눈의 합으로 17 이상을 얻을 확률   1.85%
눈의 합으로 18 이상을 얻을 확률   0.46%

대화창 실습 : zip() 함수에 공백 인자를 넘긴 경우

In [1]:
empty_iterator = zip()
result = set(empty_iterator)
result

set()

대화창 실습 : zip() 함수를 이용한 집적화

In [2]:
a = [10, 20, 30]
b = ('ten', 'twenty', 'thirty')
for val in zip(a,b) :
    print(val)

(10, 'ten')
(20, 'twenty')
(30, 'thirty')

대화창 실습 : zip() 함수에 하나의 반복가능 자료형 인자를 전달한 경우

In [9]:
lst = ['a', 'b', 'hello', 'this']
my_iterator = zip(lst)
result = set(my_iterator)
result

{('a',), ('b',), ('hello',), ('this',)}

대화창 실습 : zip() 함수에 세개의 반복가능 자료형 인자를 전달

In [4]:
str_list = ['hello', 'world', 'python', 'rocks']
int_tuple = (1,2,3)
int_list = [400, 500, 600, 700, 800]
my_iterator = zip(str_list, int_tuple, int_list)
list(my_iterator)

[('hello', 1, 400), ('world', 2, 500), ('python', 3, 600)]

대화창 실습 : zip()으로 묶여진 튜플을 다시 풀어내는 방법(언패킹)

In [7]:
zip_lst = list(zip(str_list, int_tuple, int_list))
a,b,c = zip(*zip_lst)
print(a,b,c)

('hello', 'world', 'python') (1, 2, 3) (400, 500, 600)

대화창 실습 : 튜플의 슬라이싱

In [10]:
tu = (0,1,2,3,4,5,6,7,8,9)
tu[1:5]

(1, 2, 3, 4)

In [11]:
tu[0:10:3]

(0, 3, 6, 9)

In [12]:
tu[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

대화창 실습 : 문자열 슬라이싱

In [13]:
text = 'hello world'
text[1:5]

'ello'

In [14]:
text[6:]

'world'

In [15]:
text[::3]

'hlwl'

In [16]:
text[::-1]

'dlrow olleh'