으뜸 파이썬 연습문제

In [2]:
#2.2
width=30
height=60
print(width)
print(height)

30
60

In [4]:
#2.5
a=int(input('정사각형의 밑변을 입력하시오 : '))  #밑변의 길이
S=a**2  #정사각형의 면적
print('정사각형의 면적 :',S)

정사각형의 밑변을 입력하시오 : 40
정사각형의 면적 : 1600

In [5]:
#2.6
print('1에서 10까지의 합 :',1+2+3+4+5+6+7+8+9+10)

1에서 10까지의 합 : 55

In [6]:
#2.7
print('10! =', 10*9*8*7*6*5*4*3*2*1)

10! = 3628800

In [20]:
#2.8
n=2
print('a','\tn','\ta**n') 
for a in range(2,7,1) :
  print(a,'\t',n,'\t',a**n, sep='')

a 	n 	a**n
2	2	4
3	2	9
4	2	16
5	2	25
6	2	36

In [73]:
#2.9
print('섭씨','\t화씨')
for c in range(0,60,10) :
  f=(9/5)*c+32  #화씨온도 = (9/5)* 섭씨온도 +32
  print(c,'\t',f,sep='')

섭씨 	화씨
0	32.0
10	50.0
20	68.0
30	86.0
40	104.0
50	122.0

In [39]:
#2.10
c=int(input('섭씨온도를 입력하세요 :'))
f=(9/5)*c+32  #화씨온도 = (9/5)* 섭씨온도+32
print('섭씨 %d 도는 화씨 %.1f 도 입니다.' %(c,f))

섭씨온도를 입력하세요 :30
섭씨 30 도는 화씨 86.0 도 입니다.

In [44]:
#2.11
f=int(input('화씨 온도를 입력하세요 :'))
c=(5/9)*(f-32)  #섭씨온도 = (5/9)* (화씨온도-32)
print('화씨 %d 도는 섭씨 %.1f 도 입니다.' %(f,c))

화씨 온도를 입력하세요 :86
화씨 86 도는 섭씨 30.0 도 입니다.

In [74]:
#2.12
radius=11 #반지름 값
PI=3.141592 #원주율
l=2*PI*radius #원의 둘레
S=PI*radius**2 #원의 면적
print('원의 반지름 = %d, 원의 둘레 = %f, 원의 면적 = %f' %(radius,l,S))

원의 반지름 = 11, 원의 둘레 = 69.115024, 원의 면적 = 380.132632

In [52]:
#2.13
r=int(input('원의 반지름을 입력하세요 : ')) #반지름 값 입력
PI=3.141592 #원주율
l=2*PI*r #원의 둘레
S=PI*r**2 #원의 넓이
print('원의 둘레 = %f, 원의 면적 = %f' %(l,S))

원의 반지름을 입력하세요 : 11
원의 둘레 = 69.115024, 원의 면적 = 380.132632

In [59]:
#2.14
for i in range(2,11,1) :
  print('%d의 제곱근 =' %i, i**0.5)

2의 제곱근 = 1.4142135623730951
3의 제곱근 = 1.7320508075688772
4의 제곱근 = 2.0
5의 제곱근 = 2.23606797749979
6의 제곱근 = 2.449489742783178
7의 제곱근 = 2.6457513110645907
8의 제곱근 = 2.8284271247461903
9의 제곱근 = 3.0
10의 제곱근 = 3.1622776601683795

In [62]:
#2.15
a=int(input('밑변을 입력하세요 :')) #밑변 입력
b=int(input('높이를 입력하세요 :')) #높이 입력
c=(a**2+b**2)**0.5
print('빗변 :',c)

밑변을 입력하세요 :5
높이를 입력하세요 :12
빗변 : 13.0

In [71]:
#2.16 - (1)
a=1+2j #회전하기 전 복소수 값
b=(0+1j)*a #90도 회전한 후 복소수 값
print('회전하기 전:',a)
print('90도 회전한 후 :',b)

회전하기 전: (1+2j)
90도 회전한 후 : (-2+1j)

In [72]:
#2.16 - (2)
a=1+2j #회전하기 전 복소수 값
b=(3**0.5/2+0.5j)*a #30도 회전한 후 복소수 값
print('회전하기 전:',a)
print('30도 회전한 후 :', b)

회전하기 전: (1+2j)
30도 회전한 후 : (-0.1339745962155614+2.232050807568877j)

In [76]:
#2.17
print(2<<0, 2<<1, 2<<2, 2<<3, 2<<4, 2<<5, 2<<6, 2<<7, 2<<8, 2<<9)

2 4 8 16 32 64 128 256 512 1024

In [77]:
#2.18
n=int(input('정수를 입력하세요 :'))
print('이 수가 짝수인가요?',n%2==0) #n이 짝수이면 True, 홀수이면 False 출력

정수를 입력하세요 :20
이 수가 짝수인가요? True

In [78]:
n=int(input('정수를 입력하세요 :'))
print('이 수가 짝수인가요?',n%2==0) #n이 짝수이면 True, 홀수이면 False 출력

정수를 입력하세요 :21
이 수가 짝수인가요? False

In [83]:
#2.19
for i in range(2) :
  n=int(input('정수를 입력하세요 : '))
  print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?', n%2==0 and 0<=n<=100)

정수를 입력하세요 : 120
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? False
정수를 입력하세요 : 88
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? True

In [90]:
#2.20
a, b= bin(5), bin(6)
print('%s & %s = %s' %(a,b,bin(5&6)))
print('%s | %s = %s' %(a,b,bin(5|6)))
print('%s ^ %s = %s' %(a,b,bin(5^6)))

0b101 & 0b110 = 0b100
0b101 | 0b110 = 0b111
0b101 ^ 0b110 = 0b11

In [98]:
#2.21
n=int(input('정수를 입력하시오 :'))
print('%d 의 2진수 값 : %s'%(n,bin(n)))
print('%d 의 2진수 값에 대한 비트단위 부정값 : %s' %(n,bin(~n)))

정수를 입력하시오 :9
9 의 2진수 값 : 0b1001
9 의 2진수 값에 대한 비트단위 부정값 : -0b1010

In [100]:
#2.22
a=int(input('정수 a를 입력하시오 : '))
b=int(input('정수 b를 입력하시오 : '))
print('a / b의 몫 : ',a//b)
print('a / b의 나머지 : ', a%b)

정수 a를 입력하시오 : 202
정수 b를 입력하시오 : 50
a / b의 몫 :  4
a / b의 나머지 :  2

In [102]:
#2.23
n=int(input('세 자리 정수를 입력하세요 : '))
print('백의 자리 : ', n//100)
print('십의 자리 : ', (n%100)//10)
print('일의 자리 : ', (n%100)%10)

세 자리 정수를 입력하세요 : 349
백의 자리 :  3
십의 자리 :  4
일의 자리 :  9

In [105]:
#2.24
n=int(input('세 자리 정수를 입력하세요 : '))
print((n%100)%10)
print((n%100)//10)
print(n//100)

세 자리 정수를 입력하세요 : 349
9
4
3