<으뜸 파이썬 연습문제>

5.3~5.24 (5.6, 5.14, 5.16 제외)

In [ ]:
#5.3

list1 = [3,5,7]
list2 = [2,3,4,5,6]

for i in list1 :
    for j in list2 :
        print('{} * {} = {}'.format(i,j,i*j))

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [ ]:
#5.4

a = [2,3,4,5,6]
print('a =',a)

l = []
for i in range(len(a)) :
    l.append(a.pop())
print('rev_a =',l)

a = [2, 3, 4, 5, 6]
rev_a = [6, 5, 4, 3, 2]

In [ ]:
#5.5

list1 = ['I like', 'I love']
list2 = ['fan cake.','kiwi juice.','espresso.']

for i in list1 :
    for j in list2 :
        print(i,j)

I like fan cake.
I like kiwi juice.
I like espresso.
I love fan cake.
I love kiwi juice.
I love espresso.

In [ ]:
#5.7

n_list = [10,20,30,50,60]
sum1 = 0
for i in n_list :
    sum1 += i
print('리스트 원소들 :',n_list)
print('리스트 원소들의 합 :',sum1)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 합 : 170

In [ ]:
#5.8

n_list = [10,20,30,50,60]
mul = 1
for i in n_list :
    mul *= i
print('리스트 원소들 :',n_list)
print('리스트 원소들의 곱 :',mul)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 곱 : 18000000

In [ ]:
#5.9

def list_max (*n) :
    n_list = list(n)
    n_list.sort()
    print('리스트 원소들 :',n_list)
    print('리스트 원소들 중 최댓값 :',n_list[len(n_list)-1])

list_max(10,20,30,50,60)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들 중 최댓값 : 60

In [ ]:
#5.10

def list_min (*n) :
    n_list = list(n)
    n_list.sort()
    print('리스트 원소들 :',n_list)
    print('리스트 원소들 중 최솟값 :',n_list[0])

list_min(10,20,30,50,60)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들 중 최솟값 : 10

In [ ]:
#5.11

n_list = [int(x) for x in input('5개의 수를 입력하세요 : ').split()]
print('합 :', sum(n_list))
print('평균 :', sum(n_list)/len(n_list))
print('최댓값 :', max(n_list))
print('최솟값 :', min(n_list))

5개의 수를 입력하세요 : 45 67 20 34 2
합 : 168
평균 : 33.6
최댓값 : 67
최솟값 : 2

In [ ]:
#5.12
def func () :
    n = int(input('n을 입력하세요 : '))
    n_list = [int(x) for x in input('{}개의 수를 입력하세요 :'.format(n)).split()]
    print('합 :', sum(n_list))
    print('평균 :', sum(n_list)/len(n_list))
    print('최댓값 :', max(n_list))
    print('최솟값 :', min(n_list))  

func()

n을 입력하세요 : 6
6개의 수를 입력하세요 :45 67 20 34 2 100
합 : 268
평균 : 44.666666666666664
최댓값 : 100
최솟값 : 2

In [ ]:
#5.12 - (1),(2),(3)

for _ in range(3) :
    func()
    print()

n을 입력하세요 : 3
3개의 수를 입력하세요 :1 2 3
합 : 6
평균 : 2.0
최댓값 : 3
최솟값 : 1

n을 입력하세요 : 5
5개의 수를 입력하세요 :10 2 30 3 28
합 : 73
평균 : 14.6
최댓값 : 30
최솟값 : 2

n을 입력하세요 : 10
10개의 수를 입력하세요 :34 56 7 9 23 10 2 30 3 28
합 : 202
평균 : 20.2
최댓값 : 56
최솟값 : 2

In [ ]:
#5.13

n_list = [int(x) for x in input('10개의 수를 입력하세요 : ').split()]

mean = sum(n_list)/len(n_list)
sum1 = 0
for i in n_list :
    sum1 += (i - mean)**2
standard_deviation = (sum1/len(n_list))**0.5

print('합 :',sum(n_list))
print('평균 :',mean)
print('표준편차 : {:.2f}'.format(standard_deviation))

10개의 수를 입력하세요 : 45 67 20 34 2 100 23 45 67 89
합 : 492
평균 : 49.2
표준편차 : 29.72

In [ ]:
#5.15

greet = 'Have a beautiful day.'
print(greet[0:4])
print(greet[7:16])
print(greet[-4:-1])

Have
beautiful
day

In [ ]:
#5.17

animals = ['dog','cat','tiger','lion']  #(1)
print('animals =',animals)              

animals.remove('dog')                   #(2)
animals.append('dog')       
print('animals =',animals)              

animals = ['dog','cat','tiger','lion']  #(3)
for i in animals :                  
    print('I love {}.'.format(i))

animals = ['dog', 'cat', 'tiger', 'lion']
animals = ['cat', 'tiger', 'lion', 'dog']
I love dog.
I love cat.
I love tiger.
I love lion.

In [1]:
#5.18 - (1)

s_list = ['abc','bcd','bcdefg','abba','cddc','opq']

lists = []
for i in s_list :
    for j in s_list :
        check = (len(i) <= len(j))      
        if check == True :      # 한 문자열의 길이가 다른 문자열의 길이와 비교했을 때 작거나 같으면 lists에 1을 추가함
            lists.append(1)
    if len(lists) == len(s_list) :
        print('가장 길이가 짧은 문자열 :',i)
        break
    else :
        lists = []      # lists 초기화

가장 길이가 짧은 문자열 : abc

In [ ]:
#5.18 - (2)

s_list = ['abc','bcd','bcdefg','abba','cddc','opq']

lists = []
for i in s_list :
    for j in s_list :
        check = (len(i) >= len(j))      
        if check == True :      # 한 문자열의 길이가 다른 문자열의 길이와 비교했을 때 크거나 같으면 lists에 1을 추가함
            lists.append(1)
    if len(lists) == len(s_list) :
        print('가장 길이가 긴 문자열 :',i)
        break
    else :
        lists = []      # lists 초기화

가장 길이가 긴 문자열 : bcdefg

In [141]:
#5.18 - (3)

s_list = ['abc','bcd','bcdefg','abba','cddc','opq']

s_list.sort(key=len)    # 문자 길이 순으로 정렬
check = 0
for i in s_list :
    if len(s_list[0]) == len(i) :
        check += 1
    else :
        break

print('가장 길이가 짧은 문자열 :', end='')
for j in range(check) :
    print(" '{}'".format(s_list[j]), end ='')
    if j != (check -1) :
        print(',',end='')

가장 길이가 짧은 문자열 : 'abc', 'bcd', 'opq'

In [4]:
#5.19

s_list = ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']

new_s_list = []
check = 0
for i in s_list :
    for j in new_s_list :
        if i == j :
            check += 1
    if check == 0 :
        new_s_list.append(i)
    else :
        check = 0   # check 초기화
print('s_list =',s_list)
print('new_s_list =',new_s_list)

s_list = ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']
new_s_list = ['abc', 'bcd', 'abba', 'cddc', 'opq']

In [138]:
#5.20

def output(src) :
    if src != '' :
        before = src[0]
        count = 0 
        output = ''
        for i in src :
            if i == before :
                count +=1   # i가 이전 문자와 같으면 1을 더해줌
            else :
                output += before
                output += str(count)
                count = 1       # count 초기화
            before = i          # before에 이전 문자를 할당해줌    
        output += before
        output += str(count)

        print("src ='{}'".format(src))
        print("output ='{}'".format(output))
    else :
        print("src = ''")
        print("output = ''")

output('aaaabbb')
output('aaaabccccaaaaacccfg')
output('')
output('a')

src ='aaaabbb'
output ='a4b3'
src ='aaaabccccaaaaacccfg'
output ='a4b1c4a5c3f1g1'
src = ''
output = ''
src ='a'
output ='a1'

In [136]:
#5.21

def decome (src) :
    if src != '' :
        output = ''
        for i in range(0,len(src),2) :
                output += src[i] * int(src[i+1])
        print("src ='{}'".format(src))
        print("output ='{}'".format(output))
    else :
        print("src = ''")
        print("output = ''")

decome('a2b3c6a2c3f1g1')

src ='a2b3c6a2c3f1g1'
output ='aabbbccccccaacccfg'

In [118]:
#5.22
n = int(input('n을 입력하시오 : '))
n_list = []
for i in range(1,n**2 +1, 1) :
    n_list.append(i)

def rev_list (x) :
    lists = []
    lists.extend(x)
    lists.reverse()
    for i in range(len(lists)) :
        print('%3d' %lists[i],end=' ')
    print()
    
def or_list (x) :
    lists = []
    lists.extend(x)
    for i in range(len(lists)) :
        print('%3d'%lists[i],end=' ')
    print()
    
for j in range(0,n**2+1,2*n) :
    or_list(n_list[j : j+n]) 
    rev_list(n_list[j+n : j+n*2])

n을 입력하시오 : 6
  1   2   3   4   5   6
 12  11  10   9   8   7
 13  14  15  16  17  18
 24  23  22  21  20  19
 25  26  27  28  29  30
 36  35  34  33  32  31

In [120]:
#5.23 - (1)

person1 = ['온달', 20, 1, 180.0, 100.0]
person2 = ['이사부', 25, 1, 170.0, 70.0]
person3 = ['평강', 22, 0, 169.0, 60.0]
person4 = ['혁거세', 40, 1, 150.0, 50.0]

def how_many_persons(person_list) :
    return len(person_list)/5
person_list = person1 + person3 + person4
n_persons = int(how_many_persons(person_list))
print(str(n_persons) + '명의 정보가 담겨 있습니다.')

3명의 정보가 담겨 있습니다.

In [126]:
#5.23 - (2)

def compute_average_age(person_list) :
    sum1 = 0
    for i in range(1,len(person_list),5) :
        sum1 += person_list[i]
    ave = (sum1/how_many_persons(person_list))
    return ave
person_list = person1 + person2 + person3 + person4
average_age = compute_average_age(person_list)

print('평균 나이는 '+ str(average_age) + '세입니다.')

평균 나이는 26.75세입니다.

In [127]:
#5.23 - (3)

def count_males_females(person_list) :
    m_count , fem_count = 0,0
    for i in range(2, len(person_list),5) :
        if person_list[i] == 1 :
            m_count +=1
        else :
            fem_count +=1
    return m_count, fem_count
person_list = person1 + person2 + person3 + person4
n_male, n_female = count_males_females(person_list)
print('리스트에는 남자가',n_male,'명, 여자가',n_female,'명입니다.')

리스트에는 남자가 3 명, 여자가 1 명입니다.

In [175]:
#5.23 - (4)

def display_persons(person_list) :
    lists = []
    for i in range(int(len(person_list)/5)) :
        a = []
        for j in range(5) :
            a.append(person_list[j+i*5])
        lists.append(a)
    for k in range(int(len(person_list)/5)) :
        print(lists[k])
person_list = person1 + person2 + person3 + person4
display_persons(person_list)

['온달', 20, 1, 180.0, 100.0]
['이사부', 25, 1, 170.0, 70.0]
['평강', 22, 0, 169.0, 60.0]
['혁거세', 40, 1, 150.0, 50.0]

In [166]:
#5.24

lists = []
for n in range(1,10001,1) :
    for j in range(1,n,1) :
        if n % j == 0 :
          lists.append(j)
    if sum(lists) == n :
        print('{}은 완전수입니다.'.format(n))
        print('{}의 약수 : {}, 약수의 합 = {}'.format(n,lists,sum(lists))) 
    lists = []

6은 완전수입니다.
6의 약수 : [1, 2, 3], 약수의 합 = 6
28은 완전수입니다.
28의 약수 : [1, 2, 4, 7, 14], 약수의 합 = 28
496은 완전수입니다.
496의 약수 : [1, 2, 4, 8, 16, 31, 62, 124, 248], 약수의 합 = 496
8128은 완전수입니다.
8128의 약수 : [1, 2, 4, 8, 16, 32, 64, 127, 254, 508, 1016, 2032, 4064], 약수의 합 = 8128