으뜸 파이썬 연습문제
3.2 ~ 3.31

#3.2

In [16]:
#3.2

name = input('이름을 입력하시오 : ')
height = int(input('키를 입력하시오(단위 cm) : '))
if height < 140 :
  print(name, '님은 놀이기구를 탈 수 없습니다.')
else : 
  print(name, '님은 놀이기구를 탈 수 있습니다.')

이름을 입력하시오 : 동윤
키를 입력하시오(단위 cm) : 170
동윤 님은 놀이기구를 탈 수 있습니다.

In [17]:
name = input('이름을 입력하시오 : ')
height = int(input('키를 입력하시오(단위 cm) : '))
if height < 140 :
  print(name, '님은 놀이기구를 탈 수 없습니다.')
else : 
  print(name, '님은 놀이기구를 탈 수 있습니다.')

이름을 입력하시오 : 승주
키를 입력하시오(단위 cm) : 132
승주 님은 놀이기구를 탈 수 없습니다.

#3.3

In [ ]:
#3.3

age = int(input('나이를 입력하시오 : '))
height = int(input('키를 입력하시오(단위 cm) : '))
if age >= 19 and height >= 150 :
  print('입장할 수 있습니다.')
else : 
  print('입장할 수 없습니다.')

나이를 입력하시오 : 23
키를 입력하시오(단위 cm) : 160
입장할 수 있습니다.

In [ ]:
age = int(input('나이를 입력하시오 : '))
height = int(input('키를 입력하시오(단위 cm) : '))
if age >= 19 and height >= 150 :
  print('입장할 수 있습니다.')
else : 
  print('입장할 수 없습니다.')

나이를 입력하시오 : 16
키를 입력하시오(단위 cm) : 162
입장할 수 없습니다.

#3.4

In [ ]:
#3.4

age = int(input('나이를 입력하시오 : '))
if age >= 20 :
  print('Adult')
elif age >= 10 :
  print('Youth')
else :
  print('Kid')

나이를 입력하시오 : 23
Adult

In [ ]:
age = int(input('나이를 입력하시오 : '))
if age >= 20 :
  print('Adult')
elif age >= 10 :
  print('Youth')
else :
  print('Kid')

나이를 입력하시오 : 18
Youth

In [ ]:
age = int(input('나이를 입력하시오 : '))
if age >= 20 :
  print('Adult')
elif age >= 10 :
  print('Youth')
else :
  print('Kid')

나이를 입력하시오 : 9
Kid

#3.5

In [ ]:
#3.5

n1, n2 = map(int, input('두 정수를 입력하시오 : ').split())
if n1 >= n2 :
  print(n2, n1)
else :
  print(n1, n2)

두 정수를 입력하시오 : 99 12
12 99

#3.6

In [ ]:
#3.6

n = [int(x) for x in input('세 정수를 입력하시오 : ').split()]   # 3개의 임의의 정수를 입력받음

if (n[0] <= n[1] <= n[2]) == True :
  print(n[0],n[1],n[2])

else :
  import random 

  while (n[0] <= n[1] <= n[2]) == False :
    random.shuffle(n)   # n[0] <= n[1] <= n[2]를 만족할 때까지 리스트 n의 원소를 랜덤하게 섞음

  print(n[0],n[1],n[2])

세 정수를 입력하시오 : 9 12 4
4 9 12

In [ ]:
n = [int(x) for x in input('세 정수를 입력하시오 : ').split()]   # 3개의 임의의 정수를 입력받음

if (n[0] <= n[1] <= n[2]) == True :
  print(n[0],n[1],n[2])

else :
  import random 

  while (n[0] <= n[1] <= n[2]) == False :
    random.shuffle(n)   # n[0] <= n[1] <= n[2]를 만족할 때까지 리스트 n의 원소를 랜덤하게 섞음

  print(n[0],n[1],n[2])

세 정수를 입력하시오 : 99 12 4
4 12 99

#3.7

In [ ]:
#3.7

game_score = int(input('게임점수를 입력하시오 : '))
if game_score >= 1000 :
  print('고수입니다.')
else :
  print('입문자입니다.')

게임점수를 입력하시오 : 990
입문자입니다.

#3.8

In [ ]:
#3.8

x, y = map(int, input('점의 좌표 x, y를 입력하시오 : ').split())
if x>0 and y>0 :
  print('1사분면에 있음')
elif x<0 and y>0 :
  print('2사분면에 있음')
elif x<0 and y<0 :
  print('3사분면에 있음')
elif x>0 and y<0 :
  print('4사분면에 있음')
else :
  print('어느 사분면에도 속하지 않음')

점의 좌표 x, y를 입력하시오 : 2 4
1사분면에 있음

In [ ]:
x, y = map(int, input('점의 좌표 x, y를 입력하시오 : ').split())
if x>0 and y>0 :
  print('1사분면에 있음')
elif x<0 and y>0 :
  print('2사분면에 있음')
elif x<0 and y<0 :
  print('3사분면에 있음')
elif x>0 and y<0 :
  print('4사분면에 있음')
else :
  print('어느 사분면에도 속하지 않음')

점의 좌표 x, y를 입력하시오 : -2 -4
3사분면에 있음

#3.9

In [ ]:
#3.9

n = int(input('정수를 입력하시오 : '))

for i in range(2,4) :    
  if n % i == 0 :
    print('{}는(은) {}(으)로 나누어집니다.'.format(n,i))
  else :
    print('{}는(은) {}(으)로 나누어지지 않습니다.'.format(n,i))

if n % 2 == 0 and n % 3 == 0 :
  print('%d는(은) 2와(과) 3 모두로 나누어집니다.' %n)
else :
  print('%d는(은) 2와(과) 3 모두로 나누어지지 않습니다.' %n)

정수를 입력하시오 : 15
15는(은) 2(으)로 나누어지지 않습니다.
15는(은) 3(으)로 나누어집니다.
15는(은) 2와(과) 3 모두로 나누어지지 않습니다.

In [ ]:
n = int(input('정수를 입력하시오 : '))

for i in range(2,4) :    
  if n % i == 0 :
    print('{}는(은) {}(으)로 나누어집니다.'.format(n,i))
  else :
    print('{}는(은) {}(으)로 나누어지지 않습니다.'.format(n,i))

if n % 2 == 0 and n % 3 == 0 :
  print('%d는(은) 2와(과) 3 모두로 나누어집니다.' %n)
else :
  print('%d는(은) 2와(과) 3 모두로 나누어지지 않습니다.' %n)

정수를 입력하시오 : 12
12는(은) 2(으)로 나누어집니다.
12는(은) 3(으)로 나누어집니다.
12는(은) 2와(과) 3 모두로 나누어집니다.

#3.10

In [ ]:
#3.10

a, b = map(int, input('두 정수를 입력하시오 : ').split())

if a % b == 0 :
  print('{}는(은) {}의 배수입니다.'.format(a,b))
else :
  print('{}는(은) {}의 배수가 아닙니다.'.format(a,b))

두 정수를 입력하시오 : 15 5
15는(은) 5의 배수입니다.

In [ ]:
a, b = map(int, input('두 정수를 입력하시오 : ').split())

if a % b == 0 :
  print('{}는(은) {}의 배수입니다.'.format(a,b))
else :
  print('{}는(은) {}의 배수가 아닙니다.'.format(a,b))

두 정수를 입력하시오 : 125 52
125는(은) 52의 배수가 아닙니다.

#3.11

In [2]:
#3.11

for _ in range(3) :     # 실행 결과를 3번 보여주기 위함

  n = [int(x) for x in input('세 복권번호를 입력하시오 : ').split()]   # 복권 번호를 입력받음

  number = [ 2, 3, 9 ]  # 복권 당첨 번호

  for i in n :
    for j in number :
      if i == j :    # 입력받은 정수가 복권 당첨 번호에 속해 있으면 number 리스트(복권 당첨 번호)에서 그 번호를 지운다
        number.remove(i)
  
  if len(number) == 0 :   # 입력받은 정수가 복권 당첨 번호와 모두 같으면 number 리스트는 빈 리스트가 되므로 len(number)=0.   0 <= len(number) <= 3
    print('상금 1억 원')
  elif len(number) == 1 :
    print('상금 1천만 원')
  elif len(number) == 2 :
    print('상금 1만 원')
  else :
    print('다음 기회에...')
  print()

세 복권번호를 입력하시오 : 1 5 7
다음 기회에...

세 복권번호를 입력하시오 : 1 2 7
상금 1만 원

세 복권번호를 입력하시오 : 1 2 9
상금 1천만 원

#3.12

In [ ]:
#3.12

for _ in range(2) :          # 실행 결과를 2번 보여주기 위함

  x, y = map(int, input('점의 좌표 x, y를 입력하시오 : ').split())

  r=5    # 반지름 = 5
  s=(x**2 + y**2)**(1/2)     # 원점에서 점(x, y)까지의 거리

  if s > r : 
    print('원의 외부에 있음')
  else :
    print('원의 내부에 있음')
  print()

점의 좌표 x, y를 입력하시오 : 2 4
원의 내부에 있음

점의 좌표 x, y를 입력하시오 : 7 9
원의 외부에 있음

#3.13

In [ ]:
#3.13

for _ in range(2) :          # 실행 결과를 2번 보여주기 위함

  x, y = map(int, input('점의 좌표 x, y를 입력하시오 : ').split())

  r=10    # 반지름 = 10
  s=((x-3)**2 + (y-4)**2)**(1/2)     # 원의 중심 (3,4)에서 점(x, y)까지의 거리

  if s > r : 
    print('원의 외부에 있음')
  else :
    print('원의 내부에 있음')
  print()

점의 좌표 x, y를 입력하시오 : -9 -5
원의 외부에 있음

점의 좌표 x, y를 입력하시오 : 7 9
원의 내부에 있음

#3.14

In [ ]:
#3.14

for i in range(2) :        # 실행 결과를 2번 보여주기 위함

  al = input('알파벳을 입력하시오 : ')

  vowel = ['a','e','i','o','u']

  if al in vowel :
    print(al,'(은)는 모음입니다.')
  else :
    print(al,'(은)는 자음입니다.')
  print()

알파벳을 입력하시오 : i
i (은)는 모음입니다.

알파벳을 입력하시오 : t
t (은)는 자음입니다.

#3.15

In [ ]:
#3.15 - for문 사용

for i in range(1,10) :
  print('2 * {} = {}'.format(i, 2*i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
#3.15 - while문 사용

i=1
while i<10 :
  print('2 * {} = {}'.format(i,i*2))
  i+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

#3.16

In [ ]:
#3.16 - for문 사용

n = int(input('1에서 9까지의 수를 입력하세요 : '))
while n<1 or n>9 :
  n = int(input('1에서 9까지의 수를 다시 입력하세요 : '))

for i in range(1,10) :
  print('{} * {} = {}'.format(n,i,n*i))

1에서 9까지의 수를 입력하세요 : 11
1에서 9까지의 수를 다시 입력하세요 : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
#3.16 - while문 사용

n = int(input('1에서 9까지의 수를 입력하세요 : '))
while n<1 or n>9 :
  n = int(input('1에서 9까지의 수를 다시 입력하세요 : '))
i=1

while i<10 :
  print('{} * {} = {}'.format(n,i,i*n))
  i+=1

1에서 9까지의 수를 입력하세요 : 11
1에서 9까지의 수를 다시 입력하세요 : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

#3.18

In [ ]:
#3.18

print('맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.')
print('1) 햄버거 \n2) 치킨 \n3) 피자')
menu = ['햄버거','치킨','피자']

n = int(input('1에서 3까지의 메뉴를 선택하세요 : '))

while n<1 or n>3 :        # 1~3에 해당하는 숫자가 아니면 다시 입력
  n = int(input('메뉴를 다시 입력하세요 : '))

print('{}을 선택하였습니다.'.format(menu[n-1]))

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
1) 햄버거
2) 치킨
3) 피자
1에서 3까지의 메뉴를 선택하세요 : 5
메뉴를 다시 입력하세요 : 6
메뉴를 다시 입력하세요 : 0
메뉴를 다시 입력하세요 : 2
치킨을 선택하였습니다.

#3.19

In [ ]:
#3.19

print('맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.')
print('- 햄버거(입력 b) \n- 치킨(입력 c) \n- 피자(입력 p)')
b, c, p = '햄버거', '치킨', '피자'
choice = ['b','c','p']

al = input('메뉴를 선택하세요(알파벳 b, c, p 입력) : ')

while (al in choice) == False :        # al에 입력받은 알파벳이 b,c,p에 속해 있지 않으면 다시 입력
  al = input('메뉴를 다시 입력하세요(알파벳 b, c, p 입력) : ')

if al == 'b' :
  al=b
elif al == 'c' :
  al=c
else :
  al=p
print('{}을 선택하였습니다.'.format(al))

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
- 햄버거(입력 b)
- 치킨(입력 c)
- 피자(입력 p)
메뉴를 선택하세요(알파벳 b, c, p 입력) : x
메뉴를 다시 입력하세요(알파벳 b, c, p 입력) : c
치킨을 선택하였습니다.

#3.20

In [ ]:
#3.20

for _ in range(2) :     #실행 결과를 2번 보여주기 위함

  n= int(input('숫자를 입력하세요 : '))

  s=''
  for i in range(1,n+1) :
    s ='*'*i            # '*'를 i개 추가함
    b=''    
    for j in range(n-i) :
      b += ' '          # 공백을 (n-i)개 추가함
    print(b,s,sep='')
  print()

숫자를 입력하세요 : 5
    *
   **
  ***
 ****
*****

숫자를 입력하세요 : 6
     *
    **
   ***
  ****
 *****
******

#3.21

In [ ]:
#3.21

for _ in range(2) :     # 실행 결과를 2번 보여주기 위함

  n = int(input('숫자를 입력하세요 : ')) 

  if n % 2 == 0 and n != 2 :      # n이 2가 아닌 짝수이면 소수가 아니다.
    print('%d는 소수가 아닙니다' %n)

  else :
    is_prime = True

    for i in range(3,n,2) :       
      if n % i == 0 :             # n이 1을 제외한 (n-1)이하의 홀수로 나누어 떨어지면 소수가 아니다.
        print('%d는 소수가 아닙니다' %n)
        is_prime = False
  
    if is_prime == True :  
      print('%d는 소수입니다' %n)   # 그 외에는 모두 소수이다.

  print()

숫자를 입력하세요 : 2
2는 소수입니다

숫자를 입력하세요 : 3
3는 소수입니다

#3.22

In [ ]:
#3.22

for i in range(2,13,1) :  

  if i % 2 == 0 and i != 2 :      # i가 2가 아닌 짝수이면 소수가 아니다.
    print('%2d : 합성수' %i)

  else :
    is_prime = True

    for j in range(3,i,2) :       
      if i % j == 0 :             # i가 1을 제외한 (i-1)이하의 홀수로 나누어 떨어지면 소수가 아니다.
        print('%2d : 합성수' %i)
        is_prime = False
  
    if is_prime == True :  
      print('%2d : 소수' %i)   # 그 외에는 모두 소수이다.

 2 : 소수
 3 : 소수
 4 : 합성수
 5 : 소수
 6 : 합성수
 7 : 소수
 8 : 합성수
 9 : 합성수
10 : 합성수
11 : 소수
12 : 합성수

#3.23

In [ ]:
#3.23

n = int(input('숫자를 입력하세요 : '))

square_sum = 0
for i in range(1,n+1,1) :
  square_sum += i**2

print('결과는 %d 입니다.' %square_sum)

숫자를 입력하세요 : 5
결과는 55 입니다.

#3.24

In [ ]:
#3.24

for _ in range(2) :    #실행 결과를 2번 보여주기 위함

  n = int(input('숫자를 입력하세요 : '))

  s = 0
  for i in range(1,n+1,1) :
    s += 1/i**2

  print('결과는 {}입니다.'.format(s))
  print()

숫자를 입력하세요 : 10
결과는 1.5497677311665408입니다.

숫자를 입력하세요 : 100
결과는 1.6349839001848923입니다.

#3.25

In [ ]:
#3.25

day = 0
location = 0

while location < 30 :
  day = day + 1
  if day == 1 :        # 첫 날에 하루 종일 7미터를 올라감
    location += 7
  elif 1<day :
    location -= 5      # 밤에 휴식을 취하는 동안 5미터를 미끄러져 내려감
    location += 7      # 다시 하루 종일 7미터를 올라감
  print('day : {} 달팽이의 위치 : {} 미터'.format(day,location)) 

print()
print('우물을 탈출하는 데 걸린 날은 %d일 입니다.' %day)

day : 1 달팽이의 위치 : 7 미터
day : 2 달팽이의 위치 : 9 미터
day : 3 달팽이의 위치 : 11 미터
day : 4 달팽이의 위치 : 13 미터
day : 5 달팽이의 위치 : 15 미터
day : 6 달팽이의 위치 : 17 미터
day : 7 달팽이의 위치 : 19 미터
day : 8 달팽이의 위치 : 21 미터
day : 9 달팽이의 위치 : 23 미터
day : 10 달팽이의 위치 : 25 미터
day : 11 달팽이의 위치 : 27 미터
day : 12 달팽이의 위치 : 29 미터
day : 13 달팽이의 위치 : 31 미터

우물을 탈출하는 데 걸린 날은 13일 입니다.

#3.26

In [ ]:
#3.26

n = int(input('n을 입력하시오 : '))
x=0
while 1  :
  x += 1
  for i in range(2*(x-1)*n+1, (2*x-1)*n+1, 1) :    # 홀수줄. range에서 start : 1, 2n+1, 4n+1, ...   stop : n+1, 3n+1, 5n+1, ...  step : 1 이라는 규칙이 있다   
    print('%2d ' %i,end='')
  print()
  
  if n%2 != 0 and x==n//2+1 :      # n이 홀수이고 x == n//2 + 1 이면 break
    break 
  
  for i in range(2*x*n,(2*x-1)*n,-1) :             # 짝수줄. range에서 start : 2n, 4n, 6n, ...   stop : n, 3n, 5n, ...   step : -1 이라는 규칙이 있다 
    print('%2d ' %i,end='')
  print()
  
  if n%2 == 0 and x==n//2 :        # n이 짝수이고 x == n//2 이면 break
    break

n을 입력하시오 : 5
 1  2  3  4  5
10  9  8  7  6
11 12 13 14 15
20 19 18 17 16
21 22 23 24 25

In [ ]:
n = int(input('n을 입력하시오 : '))
x=0
while 1  :
  x += 1
  for i in range(2*(x-1)*n+1, (2*x-1)*n+1, 1) :    # 홀수줄. range에서 start : 1, 2n+1, 4n+1, ...   stop : n+1, 3n+1, 5n+1, ...  step : 1 이라는 규칙이 있다   
    print('%2d ' %i,end='')
  print()
  
  if n%2 != 0 and x==n//2+1 :      # n이 홀수이고 x == n//2 + 1 이면 break
    break 
  
  for i in range(2*x*n,(2*x-1)*n,-1) :             # 짝수줄. range에서 start : 2n, 4n, 6n, ...   stop : n, 3n, 5n, ...   step : -1 이라는 규칙이 있다 
    print('%2d ' %i,end='')
  print()
  
  if n%2 == 0 and x==n//2 :        # n이 짝수이고 x == n//2 이면 break
    break

n을 입력하시오 : 6
 1  2  3  4  5  6
12 11 10  9  8  7
13 14 15 16 17 18
24 23 22 21 20 19
25 26 27 28 29 30
36 35 34 33 32 31

#3.27

In [ ]:
#3.27

a=''
for i in range(100,1000,1) :
  p = i//100         # 100의 자리 수
  q = (i-100*p)//10      # 10의 자리 수
  r = i % 10         # 1의 자리 수 
  
  a_number = (p**3 + q**3 + r**3  == i)
  if a_number :
    a = a + str(i) + ' '
print('세 자리의 암스트롱 수 :',a)

세 자리의 암스트롱 수 : 153 370 371 407

#3.28

In [18]:
#3.28

for _ in range(2) :

  n = input('정수를 입력하시오 : ')
  lists = list(n)       
  lists_r = list(n)        
  lists_r.reverse()          # lists_r의 순서를 반대 방향으로 바꿈. 즉 lists_r와 lists는 서로 반대
  
  if lists_r == lists :      # 서로 반대인 lists_r과 lists가 같다면 거꾸로 정수이다
    print('{}은(는) 거꾸로 정수입니다.'.format(n))

  else :
    print('{}은(는) 거꾸로 정수가 아닙니다.'.format(n))

정수를 입력하시오 : 3443
3443은(는) 거꾸로 정수입니다.
정수를 입력하시오 : 324
324은(는) 거꾸로 정수가 아닙니다.

#3.29

In [ ]:
#3.29

fuel = 500
while 50 <= fuel  :
  n = int(input('충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : '))
  fuel = fuel + n
  print('현재 탱크양은 {} 입니다.'.format(fuel))
print('경고 : 연료가 10% 미만이니 충전하세요!')

충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : +60
현재 탱크양은 560 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : -300
현재 탱크양은 260 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : -220
현재 탱크양은 40 입니다.
경고 : 연료가 10% 미만이니 충전하세요!

#3.30

In [ ]:
#3.30

print('1)덧셈  2)뺄셈  3)곱셈  4)나눗셈')
n = int(input('어떤 연산을 원하는지 번호를 입력하세요 : '))
if n<1 or 4<n :
  print('잘못 입력하였습니다.')
else :
  print('연산을 원하는 숫자 두개를 입력하세요')
  num1= int(input())
  num2= int(input())

  result = 0
  if n==1 :
    print('{} + {} = {}'.format(num1,num2,num1 + num2))
  elif n==2 :
    print('{} - {} = {}'.format(num1,num2,num1 - num2))
  elif n==3 :
    print('{} * {} = {}'.format(num1,num2,num1 * num2))
  else :
    print('{} / {} = {}'.format(num1,num2,num1 / num2))

1)덧셈  2)뺄셈  3)곱셈  4)나눗셈
어떤 연산을 원하는지 번호를 입력하세요 : 4
연산을 원하는 숫자 두개를 입력하세요
3
4
3 / 4 = 0.75

In [ ]:
print('1)덧셈  2)뺄셈  3)곱셈  4)나눗셈')
n = int(input('어떤 연산을 원하는지 번호를 입력하세요 : '))
if n<1 or 4<n :
  print('잘못 입력하였습니다.')
else :
  print('연산을 원하는 숫자 두개를 입력하세요')
  num1= int(input())
  num2= int(input())

  result = 0
  if n==1 :
    print('{} + {} = {}'.format(num1,num2,num1 + num2))
  elif n==2 :
    print('{} - {} = {}'.format(num1,num2,num1 - num2))
  elif n==3 :
    print('{} * {} = {}'.format(num1,num2,num1 * num2))
  else :
    print('{} / {} = {}'.format(num1,num2,num1 / num2))

1)덧셈  2)뺄셈  3)곱셈  4)나눗셈
어떤 연산을 원하는지 번호를 입력하세요 : 6
잘못 입력하였습니다.

#3.31

In [ ]:
#3.31

for i in range(1,20001,1) :
  list1=[]
  list2=[]
  for j in range(1,i,1) :
    if i % j == 0 :
      list1.append(j)   # i의 진약수이면 list1에 추가
  s1 = sum(list1)   # i의 진약수의 합
  for k in range(1,s1,1) :
    if s1 % k == 0 :
      list2.append(k)   # s1의 진약수이면 list2에 추가
  s2 = sum(list2)   # s1의 진약수의 합

  if i == s2 and i !=s1 :  
    print('{}의 친화수 {}'.format(i,s1))

220의 친화수 284
284의 친화수 220
1184의 친화수 1210
1210의 친화수 1184
2620의 친화수 2924
2924의 친화수 2620
5020의 친화수 5564
5564의 친화수 5020
6232의 친화수 6368
6368의 친화수 6232
10744의 친화수 10856
10856의 친화수 10744
12285의 친화수 14595
14595의 친화수 12285
17296의 친화수 18416
18416의 친화수 17296