<3장 제어문>

#if조건문
if_youth_discount.py

In [6]:
age=18

if age<20 :  #age<20 조건식의 결과는 True
  print('청소년 할인')

청소년 할인

In [8]:
age=24

if age<20 :  #age<20 조건식의 결과는 False
  print('청소년 할인')

if_walk_count.py

In [11]:
walk_count=1200

if walk_count >= 1000 :
  print('목표 달성')

목표 달성

In [12]:
walk_count=800

if walk_count >= 1000 :
  print('목표 달성')

LAB 3-1 : if문의 사용법

In [21]:
#1.
game_score = 800

if game_score >= 1000 :
  print('당신은 고수입니다')

In [22]:
game_score = 1300

if game_score >= 1000 :
  print('당신은 고수입니다')

당신은 고수입니다

In [23]:
#2.
num_a, num_b = 100, 200

if num_a==num_b :
  print('두 값이 일치합니다.')

In [29]:
num_a, num_b = 300, 300

if num_a==num_b :
  print('두 값이 일치합니다.')

두 값이 일치합니다.

if_modulo1.py

In [35]:
number=int(input('정수를 입력하세요 : '))

if (number % 3) == 0 :
  print(number, '은(는) 3의 배수입니다.')

정수를 입력하세요 : 15
15 은(는) 3의 배수입니다.

In [36]:
number=int(input('정수를 입력하세요 : '))

if (number % 3) == 0 :
  print(number, '은(는) 3의 배수입니다.')

정수를 입력하세요 : 16

if_modulo2.py

In [38]:
number=int(input('정수를 입력하세요 : '))

if (number % 3) == 0 and (number % 5) == 0 :
  print(number, '은(는) 3의 배수이면서 5의 배수입니다.')

정수를 입력하세요 : 15
15 은(는) 3의 배수이면서 5의 배수입니다.

LAB 3-2 : 변수와 if 조건식 사용하기

In [39]:
#1.
n = int(input('정수를 입력하세요 : '))
print('n =',n)
if n % 2 == 0 :
  print(n,'은(는) 짝수입니다.')

정수를 입력하세요 : 50
n = 50
50 은(는) 짝수입니다.

In [40]:
n = int(input('정수를 입력하세요 : '))
print('n =',n)
if n % 2 == 0 :
  print(n,'은(는) 짝수입니다.')

정수를 입력하세요 : 75
n = 75

In [43]:
#2.
x = int(input('정수를 입력하세요 : '))
print('x =',x)
if x > 0 :
  print(x,'은(는) 자연수입니다.')

정수를 입력하세요 : 50
x = 50
50 은(는) 자연수입니다.

In [45]:
x = int(input('정수를 입력하세요 : '))
print('x =',x)
if x > 0 :
  print(x,'은(는) 자연수입니다.')

정수를 입력하세요 : -10
x = -10

#if-else 조건문
if_hour_test.py

In [1]:
hour=10
if hour < 12 :
  print('오전입니다.')
if hour >= 12 :
  print('오후입니다.')

오전입니다.

if_else_hour_test.py

In [4]:
hour=14
if hour < 12 :
  print('오전입니다.')
else :
  print('오후입니다.')

오후입니다.

if_else_minus_test.py

In [5]:
num=-10
if num<0 :
  print(num,'은(는) 음수입니다.')
else :
  print(num,'은(는) 음수가 아닙니다.')

-10 은(는) 음수입니다.

if_else_even_test.py

In [6]:
num=10
if num % 2 == 0 :
  print(num, '은(는) 짝수입니다.')
else :
  print(num, '은(는) 홀수입니다.')

10 은(는) 짝수입니다.

if_block.py

In [9]:
num = 100
if num < 0 :
  print(num, '은(는) 음수입니다.')
else :
  print(num, '은(는) 음수가 아닙니다.')

  if num % 2 == 0 :
    print(num, '은(는) 짝수입니다.')
  else : 
    print(num, '은(는) 홀수입니다.')

100 은(는) 음수가 아닙니다.
100 은(는) 짝수입니다.

LAB 3-3 : if 조건문의 응용

In [13]:
#1. 
game_score = int(input('게임점수를 입력하시오 : '))
print('game_score =',game_score)
if game_score >= 1000 :
  print('고수입니다.')
else :
  print('입문자입니다.')

게임점수를 입력하시오 : 800
game_score = 800
입문자입니다.

In [15]:
game_score = int(input('게임점수를 입력하시오 : '))
print('game_score =',game_score)
if game_score >= 1000 :
  print('고수입니다.')
else :
  print('입문자입니다.')

게임점수를 입력하시오 : 1300
game_score = 1300
고수입니다.

In [16]:
#2.
n1 = int(input('한 정수를 입력하시오 : '))
n2 = int(input('다른 정수를 입력하시오 : '))
if n1 == n2 :
  print('두 값이 일치합니다.')
else : 
  print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오 : 100
다른 정수를 입력하시오 : 200
두 값이 일치하지 않습니다.

In [17]:
n1 = int(input('한 정수를 입력하시오 : '))
n2 = int(input('다른 정수를 입력하시오 : '))
if n1 == n2 :
  print('두 값이 일치합니다.')
else : 
  print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오 : 300
다른 정수를 입력하시오 : 300
두 값이 일치합니다.

In [21]:
#3.
a = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))
if a==0 :
  print('당신은 미성년자입니다.')
else :
  b= int(input('결혼을 하셨나요(기혼이면 1, 미혼이면 0): '))
  if b==1 :
    print('당신은 결혼한 성인입니다.')
  else :
    print('당신은 결혼하지 않은 성인입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0): 1
결혼을 하셨나요(기혼이면 1, 미혼이면 0): 0
당신은 결혼하지 않은 성인입니다.

대화창 실습 : 조건식 실습

In [22]:
print(0<10)
print(4>10)
print(3<=10)
print(15>=10)
print(1==2)
print(True or False)
print(True and False)

True
False
True
True
False
True
False

if_and_or_test.py

In [23]:
a=10
b=14
if (a%2==0) and (b%2==0) :
  print('두 수 모두 짝수입니다.')
if (a%2==0) or (b%2==0) :
  print('두 수 중 하나 이상이 짝수입니다.')

두 수 모두 짝수입니다.
두 수 중 하나 이상이 짝수입니다.

LAB 3-4 : 복합 조건식의 이해

In [26]:
#1.
num=2
print(num>1 and num<10)

True

In [28]:
#2.
age=9
if 10 < age < 19 :
  print('청소년입니다.')

In [30]:
age=12
if 10 < age < 19 :
  print('청소년입니다.')

청소년입니다.

if_leapyear_test.py

In [32]:
year = int(input('연도를 입력하세요 : '))
is_leap_year = ((year % 4 == 0) and (year % 100 !=0) or (year % 400 == 0))
print(year, '년은 윤년입니까?', is_leap_year)

연도를 입력하세요 : 2000
2000 년은 윤년입니까? True

#if-elif-else 문
if_grade1.py

In [33]:
score = int(input('점수를 입력하세요 : '))
if score >= 90 :
  grade = 'A'
if score < 90 and score >= 80 :
  grade = 'B'
if score < 80 and score >= 70 :
  grade = 'C'
if score < 70 and score >= 60 :
  grade = 'D'
if score < 60 :
  grade = 'F'
print('당신의 등급은 :', grade)

점수를 입력하세요 : 77
당신의 등급은 : C

if_grade2.py

In [34]:
score = int(input('점수를 입력하세요 : '))
if score >= 90 :
  grade = 'A'
else :
  if score >= 80 :
    grade = 'B'
  else :
    if score >= 70 :
      grade = 'C'
    else :
      if score >= 60 :
        grade = 'D'
      else :
        grade = 'F'
print('당신의 등급은 :', grade)

점수를 입력하세요 : 82
당신의 등급은 : B

if_elif_grade.py

In [35]:
score = int(input('점수를 입력하세요 : '))
if score >= 90 :
  grade = 'A'
elif score >= 80 :
  grade = 'B'
elif score >= 70 :
  grade = 'C'
elif score >= 60 :
  grade = 'D'
else :
  grade = 'F'
print('당신의 등급은 :',grade)

점수를 입력하세요 : 99
당신의 등급은 : A

LAB 3-5 : if-elif-else 문을 사용한 다중 조건식

In [36]:
#1.
speed = int(input('자동차의 속도를 입력하세요(단위 : km/h ): '))
if speed >= 100 :
  print('고속')
elif speed >=60 :
  print('중속')
else :
  print('저속')

자동차의 속도를 입력하세요(단위 : km/h ): 13
저속

#for 반복문
print_welcome_with_for2.py

In [37]:
for i in range(10):
  print(i,'Welcome to everyone!!')

0 Welcome to everyone!!
1 Welcome to everyone!!
2 Welcome to everyone!!
3 Welcome to everyone!!
4 Welcome to everyone!!
5 Welcome to everyone!!
6 Welcome to everyone!!
7 Welcome to everyone!!
8 Welcome to everyone!!
9 Welcome to everyone!!

LAB 3-6 : 반복문을 이용해서 다음 코드를 작성해 보자

In [42]:
#1.
for _ in range(5) :
  print('Hello, Python!')

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [44]:
#2.
for i in range(5) :
  print(i)

0
1
2
3
4

대화창 실습 : range() 함수의 활용과 리스트

In [46]:
list(range(5))

[0, 1, 2, 3, 4]

In [49]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [50]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [51]:
list(range(0,5,2))

[0, 2, 4]

In [53]:
list(range(2,5))  #==list(range(2,5,1))

[2, 3, 4]

In [55]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [56]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [57]:
list(range(-2,-10,-2))

[-2, -4, -6, -8]

LAB 3-7 : range() 함수의 응용

In [69]:
#1.
list(range(1,101,1))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [71]:
#2.
list(range(2,101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [72]:
#3.
list(range(1,101,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [75]:
#4.
list(range(-1,-100,-1))

[-1,
 -2,
 -3,
 -4,
 -5,
 -6,
 -7,
 -8,
 -9,
 -10,
 -11,
 -12,
 -13,
 -14,
 -15,
 -16,
 -17,
 -18,
 -19,
 -20,
 -21,
 -22,
 -23,
 -24,
 -25,
 -26,
 -27,
 -28,
 -29,
 -30,
 -31,
 -32,
 -33,
 -34,
 -35,
 -36,
 -37,
 -38,
 -39,
 -40,
 -41,
 -42,
 -43,
 -44,
 -45,
 -46,
 -47,
 -48,
 -49,
 -50,
 -51,
 -52,
 -53,
 -54,
 -55,
 -56,
 -57,
 -58,
 -59,
 -60,
 -61,
 -62,
 -63,
 -64,
 -65,
 -66,
 -67,
 -68,
 -69,
 -70,
 -71,
 -72,
 -73,
 -74,
 -75,
 -76,
 -77,
 -78,
 -79,
 -80,
 -81,
 -82,
 -83,
 -84,
 -85,
 -86,
 -87,
 -88,
 -89,
 -90,
 -91,
 -92,
 -93,
 -94,
 -95,
 -96,
 -97,
 -98,
 -99]

for_in_range_test1.py

In [76]:
for i in range(5) :
  print(i)

0
1
2
3
4

for_in_range_test2.py

In [80]:
for i in range(5) :
  print(i,end=' ')   #끝문자를 '\n'에서 ' '으로 변경

for i in range(0,5) :
  print(i, end=' ')

0 1 2 3 4 0 1 2 3 4

for_in_range_test3.py

In [88]:

for i in range(5) :
  print(i, end=' ')
print()   #끝문자가 '\n'이므로 줄 바꿈을 함.

for i in range(0,5) :
  print(i,end=' ')
print()

0 1 2 3 4
0 1 2 3 4

for_in_range_test4.py

In [90]:
#표현식 1
for i in range(2,5) :
  print(i, end=' ')
print()

#표현식2
for i in range(0,10,2) :
  print(i, end=' ')
print()

#표현식3
for i in range(-2,-10,-2) :
  print(i, end=' ')

2 3 4
0 2 4 6 8
-2 -4 -6 -8

for_sum_ex1.py

In [100]:
s=0
for i in range(1,11) :
  s=s+i
  print('i =',i)
  print('sum =',s)

print('1에서 10까지의 합:',s)

i = 1
sum = 1
i = 2
sum = 3
i = 3
sum = 6
i = 4
sum = 10
i = 5
sum = 15
i = 6
sum = 21
i = 7
sum = 28
i = 8
sum = 36
i = 9
sum = 45
i = 10
sum = 55
1에서 10까지의 합: 55

for_sum_ex2.py

In [101]:
s=0
for i in range(1,11) :
  s+=i
  print('i={}, s={}'.format(i,s))

print('1에서 10까지의 합: ',s)

i=1, s=1
i=2, s=3
i=3, s=6
i=4, s=10
i=5, s=15
i=6, s=21
i=7, s=28
i=8, s=36
i=9, s=45
i=10, s=55
1에서 10까지의 합:  55

LAB 3-8 : 누적 덧셈의 응용

In [103]:
#1.
s=0
for i in range(1, 101, 1) :
  s+=i
print('1에서 100까지의 합 :', s)

1에서 100까지의 합 : 5050

In [106]:
#2.
s=0
for i in range(0,101,2) :
  s+=i
print('1에서 100까지 짝수의 합 :', s)

1에서 100까지 짝수의 합 : 2550

In [107]:
#3.
s=0
for i in range(1, 101, 2) :
  s+=i
print('1에서 100까지 홀수의 합 :', s)

1에서 100까지 홀수의 합 : 2500

for_sum_input1.py

In [108]:
n=int(input('합계를 구할 수를 입력하세요 : '))
s=0

for i in range(0,n) :
  s=s+(i+1)

print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 수를 입력하세요 : 100
1부터 100까지의 합은 5050

for_sum_input2.py

In [110]:
n=int(input('합계를 구할 수를 입력하세요 : '))
s=0

for i in range(1,n+1) :
  s=s+i

print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 수를 입력하세요 : 100
1부터 100까지의 합은 5050

for_factorial.py

In [114]:
n=int(input('수를 입력하세요 : '))
fact=1
for i in range(1,n+1) :
  fact *= i

print('{}! = {}'.format(n,fact))

수를 입력하세요 : 5
5! = 120

for_in_numbers.py

In [115]:
numbers = [11,22,33,44,55,66]

for n in numbers :
  print(n,end=' ')

11 22 33 44 55 66

for_in_f_numbers.py

In [116]:
numbers = [1.1,2.5,3.7,5.6,9.2,11.3,6.8]

for n in numbers :
  print(n,end=' ')

1.1 2.5 3.7 5.6 9.2 11.3 6.8

for_in_str_list.py

In [117]:
summer_fruits = ['수박', '참외', '체리', '포도']

for fruit in summer_fruits :
  print(fruit, end=' ')

수박 참외 체리 포도

for_sum1.py

In [119]:
numbers = [10, 20, 30, 40, 50]
s=0
for n in numbers :
  s+=n
print('리스트 항목 값의 합 :', s)

리스트 항목 값의 합 : 150

for_sum2.py

In [120]:
numbers = [10, 20, 30, 40, 50]

print('리스트 항목 값의 합 :', sum(numbers))   #sum()함수 사용

리스트 항목 값의 합 : 150

대화창 실습 : 대화형 모드를 통한 1에서 10까지의 합

In [122]:
print('1에서 100까지의 합 :', sum(range(1,101)))

1에서 100까지의 합 : 5050

대화창 실습 : 대화형 모드를 통한 str 자료형의 리스트화

In [125]:
st = 'Hello'
print(st)
print(list(st))

Hello
['H', 'e', 'l', 'l', 'o']

for_in_hello.py

In [126]:
for ch in 'Hello' :
  print(ch, end=' ')

H e l l o

#중첩 for 루프
double_for.py

In [136]:
#구구단 표

for i in range(2,10) :
  for j in range(1,10) :
    print('{}*{}={:2d}'.format(i,j,i*j), end=' ')
  print()

2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

double_for_pattern.py

In [138]:
n=7

for i in range(n) :
  st=''
  for j in range(i) :
    st=st+' '   #공백을 i개 추가함
  print(st+'#')

#
 #
  #
   #
    #
     #
      #

for_pattern.py

In [143]:
n=7

for i in range(n) :
  print(' '*i + '#')

#
 #
  #
   #
    #
     #
      #

LAB 3-9 : 패턴 출력 응용

In [148]:
#1.

n=7
for i in range(n-1,-1,-1) :
  st=''
  for j in range(i) :
    st=st+' '
  print(st+'#')

      #
     #
    #
   #
  #
 #
#

pattern_test1.py

In [149]:
n=5
for i in range(n) :
  print(n-(i+1), end=' ')

4 3 2 1 0

pattern_test2.py

In [150]:
n=5
for i in range(n) :
  print(2*i+1, end=' ')

1 3 5 7 9

triangle_pattern.py

In [153]:
#1 (안 보고 작성)
n=5
for i in range(n) :
  st=''
  plus = ''
  for j in range(n-i-1) :   #공백 추가
    st=st + ' '
  for j in range(i*2+1) :   # '+' 추가
    plus += '+'
  print(st,plus,sep='')

    +
   +++
  +++++
 +++++++
+++++++++

In [154]:
#2 
n=5
for i in range(n) :
  for j in range(n-i-1) :   #공백을 출력함
    print(' ', end='')
  for j in range(2*i+1) :   #'+'를 출력함
    print('+', end='')
  print()

    +
   +++
  +++++
 +++++++
+++++++++

In [158]:
#3
n=5
for i in range(n) :
  print(' '*(n-i-1), end='')
  print('+'*(2*i+1))

    +
   +++
  +++++
 +++++++
+++++++++

소수 구하기

In [161]:
n = int(input('수를 입력하세요 : '))
is_prime = True
for num in range(2,n) :
  if n % num == 0 :
    is_prime = False
print(n,'is prime :',is_prime)

수를 입력하세요 : 11
11 is prime : True

get_primes.py

In [166]:
primes = []
for n in range(2,101) :
  is_prime = True

  for num in range(2,n) :
    if n% num == 0 :
      is_prime = False

  if is_prime :
    primes.append(n)   # primes 리스트에 n을 추가

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#while 반복문
print_welcome_with_while.py

In [167]:
i=0
while i<5 :
  print('Welcome to everyone!!')
  i+=1

Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!
Welcome to everyone!!

while_sum_input.py

In [168]:
n = int(input('합계를 구할 수를 입력하세요 : '))
s = 0
i = 1
while i <= n :
  s += i
  i += 1
print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 수를 입력하세요 : 100
1부터 100까지의 합은 5050

rsp_input.py

In [169]:
selected = None
while selected not in ['가위','바위','보'] :
  selected = input('가위, 바위, 보 중에서 선택하세요> ')
print('선택한 값은:', selected)

가위, 바위, 보 중에서 선택하세요> 묵
가위, 바위, 보 중에서 선택하세요> 찌
가위, 바위, 보 중에서 선택하세요> 빠
가위, 바위, 보 중에서 선택하세요> 가위
선택한 값은: 가위

for_sum_input2_1.py

In [171]:
n=-1
while n <= 0 :   #양수가 입력될 때까지 input() 문을 반복 수행함
  n = int(input('합계를 구할 양의 정수를 입력하세요 : '))
s=0
for i in range(1,n+1) :
  s +=i
print('1부터 {}까지의 합은 {}'.format(n,s))

합계를 구할 양의 정수를 입력하세요 : -10
합계를 구할 양의 정수를 입력하세요 : 0
합계를 구할 양의 정수를 입력하세요 : 10
1부터 10까지의 합은 55

#break와 continue
skip_vowel_break.py

In [172]:
st = 'Programming'

for ch in st :
  if ch in ['a','e','i','o','u'] :
    break    # 모음일 경우 반복문을 종료한다.
  print(ch)
print('The end')

P
r
The end

skip_vowel_break.py

In [177]:
st = 'Programming'

for ch in st :
  if ch in ['a','e','i','o','u'] :
    continue   # 모음일 경우 아래 출력을 건너뛴다.
  print(ch)
print('The end')

P
r
g
r
m
m
n
g
The end